[2013-09-12 23:07] arun-gupta opened #1 "@MailSessionDefintion sample is not working"
Giving the following error:

WARNING:   StandardWrapperValve[org.javaee7.javamail.definition.AnnotatedEmailServlet]: Servlet.service() for servlet org.javaee7.javamail.definition.AnnotatedEmailServlet threw exception
java.lang.RuntimeException: com.sun.mail.smtp.SMTPSendFailedException: 530-5.5.1 Authentication Required. Learn more at
530 5.5.1 http://support.google.com/mail/bin/answer.py?answer=1

[2013-09-12 23:08] arun-gupta opened #2 "Navigation in FacesFlow samples is not fully working"
Some of the navigations in flow-mixed, flows-declarative, flows-programmatic is not working.

[2013-09-12 23:14] arun-gupta opened #3 "CDI Alternatives"

[2013-09-12 23:14] arun-gupta opened #4 "CDI custom scope"

[2013-09-12 23:15] arun-gupta opened #5 "Validation Group"

[2013-09-12 23:15] arun-gupta opened #6 "Add Quartz integration sample"

[2013-09-12 23:17] arun-gupta opened #7 "NoSQL + Java EE 7"

[2013-09-12 23:17] arun-gupta opened #8 "Dalicore + Java EE 7"

[2013-09-12 23:18] arun-gupta opened #9 "WebSocket Subprotocol"

[2013-09-12 23:48] arun-gupta opened #10 "Angular JS consuming REST services"

[2013-09-12 23:48] arun-gupta opened #11 "Bootstrap consuming REST services"

[2013-09-12 23:49] arun-gupta opened #12 "connector-simple sample is not ready yet"

[2013-09-12 23:50] arun-gupta opened #13 "DeltaSpike Extensions in Java EE applications"

[2013-09-12 23:51] arun-gupta opened #14 "Load test Java EE application using JMeter"

[2013-09-13 00:26] #6 closed, assigned to arun-gupta

[2013-09-13 16:36] arun-gupta opened #15 "Bean Validation cross-parameter constraint"

[2013-09-13 16:36] arun-gupta opened #16 "GlassFish 4 Embedded Plugin"

[2013-09-13 16:40] arun-gupta opened #17 "EL 3.0 usage in JSF"

[2013-09-13 16:41] arun-gupta opened #18 "EL 3.0 usage in JSP"

[2013-09-13 20:13] #1 closed, assigned to arun-gupta

[2013-09-13 20:18] arun-gupta opened #19 "Invoke Twitter using Jersey and OAuth"

[2013-09-14 15:43] arun-gupta opened #20 "JDBC Realm in GlassFish"

[2013-09-14 15:43] arun-gupta opened #21 "File Realm in GlassFish"

[2013-09-15 05:58] LightGuard opened #22 "Add arquillian tests"
Adding Arquillian tests would be a huge win the community, so they could see these working on all the other Java EE 7 containers.

With these and the work we've done at http://www.jboss.org/jdf/quickstarts/get-started/ we have quite a bit of both trivial and non-trival examples for people to use, unfortunately they both seem to be vendor specific :( It would be great to collaborate on making fully

[2013-09-16 06:58] rdebusscher opened #23 "JAX-RS / link example depends on non public SNAPSHOT dependency"
\jaxrs\link\pom.xml

[code]

[2013-09-16 07:01] rdebusscher opened #24 "Compilation error in MyConnection.java of jca/connector-sample example"
[ERROR] javaee7-samples-master\jca\connector-simple\connector
\src\main\java\org\javaee7\jca\connector\simple\connector\outbound\MyConnection.
java:[65,8] error: not a statement

[2013-09-16 07:06] rdebusscher opened #25 "Extra / Twitter-Search example dependends on non public SNAPSHOT dependency"
extra\twitter-search\pom.xml

[code]

[2013-09-16 17:09] #24 closed, assigned to arun-gupta

[2013-09-16 17:27] arun-gupta opened #26 "Remove nb-configuration.xml from each sample"
Each sample has nb-configuration.xml to define the Java EE server used at runtime. This should be defined at the top-level so that any IDE specific configurations are not defined in each sample.

[2013-09-16 22:34] arun-gupta opened #27 "Allow the samples to be runnable using Cargo"
The samples can now run be run using Cargo. Basic instructions are explained in README.md.

[2013-09-16 22:35] arun-gupta opened #28 "Add profiles to run on GlassFish and Wildfly"

[2013-09-16 23:29] #28 closed, assigned to arun-gupta

[2013-09-18 12:48] arun-gupta opened #29 "Interceptors Priority"
Add a new sample to show interceptors priority

[2013-09-18 12:52] arun-gupta opened #30 "EJB-style Interceptors"
Add a new sample to demonstrate EJB-style interceptors, using @Interceptor.

[2013-09-18 20:18] arun-gupta opened #31 "Nested Faces Flow"
Faces Flow can be arbitrarily nested, new sample required.

[2013-09-19 22:56] arun-gupta opened #33 "Add JAX-WS samples"

[2013-10-01 12:45] arun-gupta opened #34 "Atmosphere sample"

[2013-10-04 00:35] #26 closed, assigned to arun-gupta

[2013-10-04 05:30] #16 closed, assigned to arun-gupta

[2013-10-04 07:18] yacota opened #36 "Add Apache Camel integration sample"
Suggestion,
integrate Apache Camel in order to facilitate EE solutions that need to use EIP and deal with a broad range of protocols not supported by a default EE container

Also apache camel has some really nice and remarkable components like
- Quartz - http://camel.apache.org/quartz2.html - already done by Arun in https://github.com/arun-gupta/javaee7-samples/issues/6
- Search engine capabilitie

[2013-10-04 17:12] #7 closed, assigned to nobody

[2013-10-04 17:12] arun-gupta opened #37 "Riak + Java EE 7"

[2013-10-04 17:14] arun-gupta opened #38 "Neo4j + Java EE 7 sample"

[2013-10-04 17:14] arun-gupta opened #39 "HBase + Java EE 7 sample"

[2013-10-04 17:14] arun-gupta opened #40 "Voldemort + Java EE 7 sample"

[2013-10-04 18:19] arun-gupta opened #41 "Kundera + Java EE 7 Sample"
More details at:

http://xamry.wordpress.com/2013/03/01/marrying-jpa-with-graph-databases/

[2013-10-05 06:22] #38 closed, assigned to arun-gupta

[2013-10-05 13:23] arun-gupta opened #42 "Hibernate OGM Sample"

[2013-10-05 13:23] arun-gupta opened #43 "EclipseLink NoSQL Sample"

[2013-10-07 23:23] #40 closed, assigned to arun-gupta

[2013-10-08 23:58] #37 closed, assigned to nobody

[2013-10-09 04:10] arun-gupta opened #46 "Oracle NoSQL sample"

[2013-10-10 11:09] mgwillem opened #47 "ItemWriter not called in chunk-partition sample"
I've an issue with the chunk-partition sample.
The Glassfish log shows that the ItemWriter is never called.

From the Glassfish batch console, everything seems ok (both batch and exist statuses are COMPLETED).

I'm using GlassFish Server Open Source Edition 4.0 (build 89)

Could you confirm that you have the same behavior?
Thanks

[2013-10-10 22:59] #46 closed, assigned to arun-gupta

[2013-10-17 08:44] mkouba opened #48 "Invalid WebSocket CDI injection example"
LoggingInterceptor will not work for MyEndpointWithCDI because Websocket endpoints are not CDI beans (i.e. have different lifecycle).

[2013-10-17 22:45] #47 closed, assigned to arun-gupta

[2013-10-18 07:53] mkouba opened #49 "Add CDI sample for declaring selected alternatives for an application"
By means of @Priority annotation.

See also:
http://docs.jboss.org/cdi/spec/1.1/cdi-spec.html#declaring_selected_alternatives

[2013-10-22 14:21] ngoduyhoa opened #50 "How to use Encoder/Decoder.TextStream correctly in Java WebSocket?"
Hi,

I did not find a simple example of using TextStream or BinaryStream. Thus, I am trying to write a simple one to understand them better. The idea is simple. I write annotation based Server and Client Websocket by using Glassfish and Tyrus API. The message is encoded/decoded by using TextStream. When client connect to the server, the server send a JSON object to tell the client its session ID.

[2013-11-01 20:48] arun-gupta opened #52 "Concurrency sample that shows contexts are accessible in Runnable/Callable"

[2013-11-06 23:34] grommitz opened #56 "Can't run stateless project due to arquillian/wildfly dependencies"
On my system I get this error from the tests, I assume because I don't have wildfly installed:

org.jboss.arquillian.container.test.impl.client.deployment.ValidationException: DeploymentScenario contains a target (wildfly-arquillian) not matching any defined Container in the registry.

[2013-11-07 11:19] #48 closed, assigned to nobody

[2013-11-07 12:12] #56 closed, assigned to nobody

[2013-11-07 16:19] arun-gupta opened #57 "Add a top-level profile-specific deploy target"

[2013-11-09 07:02] arun-gupta opened #61 "JPA/Unsynchronized Persistence Context"

[2013-11-09 07:03] arun-gupta opened #62 "JPA/CDI in Event Listeners"

[2013-11-09 07:03] arun-gupta opened #63 "CDI/@AroundConstruct"

[2013-11-09 07:03] arun-gupta opened #64 "CDI Interceptors Priority"

[2013-11-09 07:03] arun-gupta opened #65 "JPA @Index"

[2013-11-09 07:04] arun-gupta opened #66 "Disable passivation of stateful EJB"

[2013-11-09 07:04] arun-gupta opened #67 "JPA converters"

[2013-11-09 07:04] arun-gupta opened #68 "Batch Checkpointing"

[2013-11-09 07:05] arun-gupta opened #69 "Async EJB"

[2013-11-09 07:05] arun-gupta opened #70 "JPA StoredProcedures"

[2013-11-09 08:34] arun-gupta opened #71 "Create unit tests for JPA"

[2013-11-09 08:34] arun-gupta opened #72 "Create unit tests for Batch"

[2013-11-09 08:36] arun-gupta opened #73 "Create unit tests for CDI"

[2013-11-09 08:36] arun-gupta opened #74 "Create unit tests for Concurrency"

[2013-11-09 08:36] arun-gupta opened #75 "Create unit tests for EJB"

[2013-11-09 08:36] arun-gupta opened #76 "Create unit tests for EL"

[2013-11-09 08:37] arun-gupta opened #77 "Create unit tests for JavaMail"

[2013-11-09 08:37] arun-gupta opened #78 "Create unit tests for JAX-RS"

[2013-11-09 08:37] arun-gupta opened #79 "Create unit tests for JCA"

[2013-11-09 08:37] arun-gupta opened #80 "Create unit tests for JMS"

[2013-11-09 08:38] arun-gupta opened #81 "Create unit tests for JSF"

[2013-11-09 08:38] arun-gupta opened #82 "Create unit tests for JSON"

[2013-11-09 08:38] arun-gupta opened #83 "Create unit tests for JTA"

[2013-11-09 08:38] arun-gupta opened #84 "Create unit tests for Servlet"

[2013-11-09 08:38] arun-gupta opened #85 "Create unit tests for Validation"

[2013-11-09 08:39] arun-gupta opened #86 "Create unit tests for WebSocket"

[2013-11-09 08:40] arun-gupta opened #87 "Create unit tests for Extra"

[2013-11-09 11:34] arun-gupta opened #88 "JPA Extended Persistence Context"

[2013-11-09 12:17] #62 closed, assigned to arun-gupta

[2013-11-09 12:50] #61 closed, assigned to arun-gupta

[2013-11-09 12:56] arun-gupta opened #89 "Remove <artifactId> and <version> from all leaf pom.xml"

[2013-11-09 13:12] #65 closed, assigned to arun-gupta

[2013-11-09 13:17] arun-gupta opened #90 "Injection in Validators"

[2013-11-09 15:34] arun-gupta opened #91 "JPA Converter sample is throwing ClassCastException"
Caused by: java.lang.ClassCastException: org.javaee7.jpa.converter.CreditCard cannot be cast to java.lang.String
    at org.javaee7.jpa.converter.Employee._persistence_set(Employee.java)
    at org.eclipse.persistence.internal.descriptors.PersistenceObjectAttributeAccessor.setAttributeValueInObject(PersistenceObjectAttributeAccessor.java:46)
    at org.eclipse.persistence.mappings.DatabaseMapping.

[2013-11-09 15:34] #67 closed, assigned to arun-gupta

[2013-11-09 15:55] #91 closed, assigned to arun-gupta

[2013-11-09 15:56] #64 closed, assigned to arun-gupta

[2013-11-09 21:33] #69 closed, assigned to arun-gupta

[2013-11-10 16:18] noahwhite opened #92 "How-To replace Hibernate with Eclipselink in WildFly"
These issues may deserve their own repository, migrating-gf-to-wildfly or some such. In any case a How-To that explains the steps required to migrate WildFly from Hibernate to Eclipselink would be very useful.  If they could leverage the javaee7-samples that would be a nice bonus too. The only information I've found on this topic so far is this:

https://community.jboss.org/wiki/HowToUseEclipseLin

[2013-11-10 16:25] noahwhite opened #93 "How-To replace RestEasy with Jersey in WildFly"
Similar to #92 a How-To that explains replacing RestEasy with Jersey in WildFly would be useful. I wonder what implications this would have on any RestEasy usage that might be part of the WildFly administration console. I think it's nearly impossible to switch JAX-RS impls. in Glassfish for this reason, but I could be mistaken. If its not possible to replace at the AS level then a sample showing i

[2013-11-10 16:27] noahwhite opened #94 "Eclipselink MOXy in WildFly"
Related to #92 an example of using Eclipselink MOXy, specifically for JSON marshal/unmarshalling of entities exposed by a JAX-RS Resource endpoint would be useful.

[2013-11-10 16:30] noahwhite opened #95 "Example using Jackson in WildFly"
Seems I am not alone. Here's an unanswered SO question on this topic:

http://stackoverflow.com/questions/19502878/wildfly-using-the-jackson-provider-instead-of-jettison

Also looks like there's some recent traffic on this in the WildFly dev list:

http://wildfly-development.1055759.n5.nabble.com/wildfly-dev-Configurable-implicit-module-imports-td5712676.html

Bonus points for doing this inconjunt

[2013-11-10 20:16] arun-gupta opened #96 "Use Hibernate as persistence provider in GlassFish"

[2013-11-11 22:17] arun-gupta opened #98 "WebSocket: Compare HTTP headers and WebSocket payload"

[2013-11-12 12:17] #76 closed, assigned to nobody

[2013-11-12 21:40] #82 closed, assigned to arun-gupta

[2013-11-12 21:45] arun-gupta opened #112 "websocket/atmosphere-chat failing with IndexOutOfBoundsException"
Deploying the sample on WildFly beta2-snapshot fails with the failing exception:

22:43:30,999 ERROR [org.jboss.as.controller.management-operation](management-handler-thread - 27) JBAS014613: Operation ("deploy") failed - address: ({"deployment" => "atmosphere-chat.war"}) - failure description: {"JBAS014671: Failed services" => {"jboss.deployment.unit.\"atmosphere-chat.war\".INSTALL" => "org.jboss

[2013-11-12 23:06] arun-gupta opened #113 "Provide a consolidated report for all the tests"

[2013-11-14 10:01] arun-gupta opened #118 "WebSocket Java SE-style client"

[2013-11-14 10:01] arun-gupta opened #119 "Secure WebSocket using wss"

[2013-11-14 10:09] arun-gupta opened #120 "Servlet sample using security-constraint"

[2013-11-14 22:57] dylanaut opened #122 "Versioning of WebSocket protocols/encoders/decoders"
I'd like o see an example/approach, that show us how to deal with different versions of a websocket protocols, ie. encoders/decoders.

Is the appropriate decoder identified by peeking into the string / bytearray payload?
That would mean, we make version numbers part of the business data..?!

regards
   Juergen

[2013-11-29 00:37] blabno opened #139 "Arquillian test for JMS XA"
Add integration test showing XA Datasource+JMS.

Scenario:
When user registers account then a record in DB must be created and email must be sent. Email must be send through JMS queue so in case the mail server is down we get redelivery and DLQ ultimately.

Test should show that if persisting to db fails (transaction gets rolled back) the message is not delivered via JMS.

[2013-12-03 11:21] bartoszmajsak opened #147 "It's high time to introduce some consistency :)"
Hi guys,

I've been looking at the tests we have so far and I spotted few things which I believe we should address any time soon to avoid confusion in the future.
- We have at least 3 different ways for naming test methods [[1]](https://github.com/javaee-samples/javaee7-samples/blob/master/batch/chunk-checkpoint/src/test/java/org/javaee7/batch/chunk/checkpoint/BatchChunkCheckpointTest.java#L44) [[

[2013-12-03 13:04] arun-gupta opened #148 "DataSourceDefinition test"

[2013-12-07 23:56] kubamarchwicki opened #165 "JEE6 backwards compatibility"
Are we aiming to keep the configuration minimal and be as JEE7 compliant as possible?
I'm thinking about beans.xml for example. In some of the cases it's not required at all (though in some cases `.addAsWebInfResource(EmptyAsset.INSTANCE, "beans.xml");` is used (due to either issues or commiter's habbits)

I was thinking about running these tests against Apache TomEE. The server is not yet JEE7 co

[2013-12-10 17:26] #165 closed, assigned to nobody

[2013-12-11 19:15] #120 closed, assigned to arun-gupta

[2013-12-16 21:18] arjantijms opened #172 "Add JEUS 8 as deployment target for CI"
Next to GlassFish and WildFly there is one additional Java EE 7 implementation at the moment: JEUS 8. Although it's still in development it's already Java EE 7 certified.

I blogged about JEUS 8 here http://arjan-tijms.blogspot.com/2013/10/jeus-application-server-story-continues.html and here http://arjan-tijms.blogspot.com/2013/09/diving-into-unknown-jeus-application.html

There currently isn't a

[2013-12-17 04:44] huashengca opened #173 "huashengca@gmail.com"
D:\Jpa21\arun-javaee7\jpa\schema-gen-scripts>mvn install
Running org.javaee7.jpa.schemagen.scripts.EmployeeBeanTest
Dec 17, 2013 8:39:54 PM org.jboss.arquillian.container.glassfish.clientutils.Gla
ssFishClientUtil getResponseMap
SEVERE: exit_code: FAILURE, message: Invalid user name or password. [status: CLI
ENT_ERROR reason: Unauthorized]
Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time ela

[2013-12-17 05:08] #173 closed, assigned to nobody

[2013-12-24 19:31] arjantijms opened #176 "Update WildFly used for CI to CR1"
The project's pom.xml has been updated for WildFly CR1, but it looks like the CI server still uses a beta 2 snapshot.

See https://arungupta.ci.cloudbees.com/job/Java%20EE%207%20Samples%20on%20WildFly-cb/lastBuild/consoleText

[0m[0m10:35:13,257 INFO  [org.jboss.as](Controller Boot Thread) JBAS015874: WildFly 8.0.0.Beta2-SNAPSHOT "WildFly" started in 3149ms - Started 51 of 64 services (25 servic

[2013-12-25 07:43] #176 closed, assigned to nobody

[2014-01-02 14:36] #72 closed, assigned to nobody

[2014-03-21 09:54] MichaelF25 opened #205 "AccountSessionStatelessnessTest broken"
AccountSessionStatelessnessTest.should_deposit_amount_on_first_account() and
AccountSessionStatelessnessTest.should_contain_already_deposited_amount_on_second_account()
are broken are least for a pretty long time (search https://arungupta.ci.cloudbees.com/job/Java%20EE%207%20Samples%20on%20WildFly-cb/153/consoleFull for one of these test methods)

I am also curious about the test scenario here. Ac

[2014-03-25 09:53] arun-gupta opened #206 "Create CI job for TravisCI"
Alex Heusingfeld expressed interest in working on this.

[2014-03-25 10:25] aheusingfeld opened #207 "BasicAuthenticationStatelessTest fails due to failed deployment"
Running `mvn clean package -Pwildfly-managed-arquillian` fails the `BasicAuthenticationStatelessTest`

[code]

[2014-03-25 10:53] #205 closed, assigned to nobody

[2014-04-12 20:01] yfain opened #214 "The code has GlassFish specific leftovers"
Tried to run jaxrs-client, against jBoss Wildfly server. Got this exception:

org.jboss.arquillian.container.glassfish.CommonGlassFishManager start
SEVERE: Could not connect to DAS on: http://localhost:4848 | Connection refused

[2014-05-02 15:29] bartoszmajsak opened #215 "Samples need some more love"
As the repository is growing I believe we need to take some care about how we structure and present the samples. I was thinking about following improvements:
- Each concrete sample should have `README` file so when people browse the repository they should know what is the goal of a given module and what technologies (including testing) were used.
- `My**Impl` is not really the most appealing strat

[2014-05-03 20:04] bartoszmajsak opened #216 "Move main README to Wiki"
I think README should be brief entry point to anyone who just come across our repository. It should simply describe what it is and how to run it.

Details such as how to contribute and related guidelines as well as build options could be moved to GitHub wiki.

If you think it is a good idea I can do this.

[2014-05-04 18:11] bartoszmajsak opened #219 "Cleanup module structure"
As we are growing in size having everything under one big module bag is not really the best idea. It's very unfriendly for IDEs (not only for Eclipse to be honest).  Therefore I would like to open the discussion on how we should slice the repo. We already have main modules covering different aspects of JavaEE platform in the dedicated sub-folders so those would be good candidates for me. What are

[2014-05-05 16:07] arun-gupta opened #220 "CI build not triggered with change in workspace"
Several changes were made to the workspace between May 1st and 5th but no CI builds at https://arungupta.ci.cloudbees.com/job/javaee7-samples-on-wildfly-cb/ were triggered.

[2014-05-09 12:39] #220 closed, assigned to radcortez

[2014-05-09 13:12] radcortez opened #221 "Wildfly version for tests"
For running tests in Jenkins we're using our own Wildfly build, based on the latest sources. Shouldn't we stick with the stable release versions and then update when a new version comes out?

A few tests at the moment are failing because of the Wildfly version. They run fine in 8.0.0.Final, but fail in 8.0.1.Final-SNAPSHOT. Since the failing version is a SNAPSHOT, the possible test issues may be s

[2014-06-12 15:43] coderoute opened #228 "Creating initial database from multiple SQL files"
When creating a Java EE application with integration tests, a database often needs to be bootstrapped. Current examples seem to use a single SQL file referenced from persistence.xml using the javax.persistence.schema-generation.create-script-source property.

However, in practice database schema evolves and it is a common practice to apply these changes to production environments using a series of

[2014-06-19 11:15] radcortez opened #231 "Copyright notices and Licensing"
We have a lot of files with the following header:

[code]

Should we start to remove it as we go along? The top-level LICENSE file already states:

"Except where otherwise indicated, everything in this repository is licensed under the MIT license"

And we also have Oracle references in the header. Any thoughts about this @arun-gupta, @aslakknutsen ?

[2014-07-14 14:08] codylerum opened #238 "Add @RequestScoped EntityManager Example"
A very common pattern is to use an EntityManager which is `@RequestScoped` with CDI. This is often referred to as the _entitymanager-per-request pattern_.

Currently I am unable to make this work in coordination with `@Transactional` without going `SynchronizationType.UNSYNCHRONIZED` and manually calling an `entityManager.joinTransaction()`

[code]

Unfortunately all the entities appear to get det

[2014-07-15 00:30] #231 closed, assigned to nobody

[2014-07-25 15:51] arjantijms opened #243 "Add "jaspitest" security domain to standalone.xml of WildFly instances"
All JASPIC tests now fail because of a missing security domain. This security domain is a bit of an unfortunate thing (it actually shouldn't be needed, but for the moment it is)

The required XML to be added in the "security-domains" tag is:

[code]

[2014-08-12 08:06] #113 closed, assigned to arun-gupta

[2014-08-12 12:24] bartoszmajsak opened #245 "AngularJS tests failing on Wildfly"
This is related to CDI 1.1 weird assumption to scan all the jars on the classpath by default. Because we use Guava pre 16.x, JSR-330 annotation can be found in their code base which is causing test deployment to fail. Fix on the way.

More info about it:
http://weld.cdi-spec.org/documentation/#4
https://issues.jboss.org/browse/CDI-377
https://code.google.com/p/guava-libraries/issues/detail?id=1433

[2014-08-12 12:32] bartoszmajsak opened #246 "JAX-RS Declarative Security tests are failing"
Running with the default profile `mvn clean package` results with

[code]

If the test required some special setup which cannot be automated as a part of a build it should at least be documented in the module's README.

[2014-08-12 12:45] #245 closed, assigned to bartoszmajsak

[2014-08-22 14:23] radcortez opened #247 "Migrate documentation to Asciidoctor 1.5.0"
Check https://gist.github.com/aslakknutsen/07e90afa8fcd8c7aac01

[2014-08-24 15:08] huguangju opened #248 "Importing in Eclipse occur 2 error"
1.After import project in eclipse, project's maven structure will in a mess, like this:
![image](https://cloud.githubusercontent.com/assets/6972433/4023685/a0f91cf2-2b9f-11e4-962c-392500cfffc8.png)

2.In sub module pom.xml, like in dynamicproxy/pom.xml, occur maven error:
![image](https://cloud.githubusercontent.com/assets/6972433/4023708/5d5c94fa-2ba0-11e4-90bc-6cb819529be3.png)

How can i resolv

[2014-09-26 23:22] arun-gupta opened #252 "Migrate CI build from CloudBees to OpenShift"
What does everybody think ?

Or use Travis ? Free offering ?

[2014-09-30 20:49] johnament opened #253 "Cannot build examples on Java 8"
YOu cannot build the examples using Java 8 as your SDK as the JAX-WS examples leverage APT.

[2014-09-30 20:57] johnament opened #254 "Add examples w/ simplified JMS API"
Most of the JMS examples use the old clunky API (old & busted), I'll provide some examples that use the new API (new hotness)

[2014-10-05 11:44] arjantijms opened #259 "Upgrade GlassFish to 4.1 for CI tests"
The CI tests are still running on GlassFish 4.0 (see https://arungupta.ci.cloudbees.com/job/Java%20EE%20Samples%20on%20GlassFish%204.0/)

GlassFish 4.1 was released some time ago and contains many bug fixes. See https://glassfish.java.net/download.html

[2014-10-05 15:44] #259 closed, assigned to johnament

[2014-10-05 15:44] #254 closed, assigned to nobody

[2014-10-05 16:47] johnament opened #261 "Add a TomEE 2.0 build profile"
Let's add a TomEE 2.0 build profile, so that we can start testing out the new version of TomEE in web profile.

Note that we'll need to use TomEE plus for now.  I think at some point we need to add support for different profiles, and perhaps different test suites per container based on what should work.

[2014-10-06 01:31] johnament opened #263 "Add new maven profile for IBM Liberty Profile"

[2014-10-06 12:31] alegrm opened #264 "Missing artifact org.javaee7:util-samples:jar:1.0"
Trying to run batch example and: Could not find artifact org.javaee7:util-samples:jar:1.0

[2014-10-12 13:32] arjantijms opened #265 "Is "test this please" automated?"
Hi,

I got a "test this please" reply on a PR twice, even though the description explicitly said it was tested and on which servers it was tested.

Is this an automated response to a PR?

[2014-10-12 14:13] #265 closed, assigned to nobody

[2014-10-20 04:41] arun-gupta opened #267 "Atmosphere-chat is giving compilation error"
[INFO] -------------------------------------------------------------
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /Users/arungupta/workspaces/javaee7-samples/websocket/atmosphere-chat/src/main/java/org/javaee7/websocket/atmosphere/ChatEndpoint.java:[1,1] 1. ERROR in /Users/arungupta/workspaces/javaee7-samples/websocket/atmosphere-chat/src

[2014-10-20 14:47] #267 closed, assigned to nobody

[2014-10-21 10:48] mlvilen opened #268 "Cnnot build with m2e"
There is error while building the samples. I see that @arun-gupta had similar issue here https://gist.github.com/arun-gupta/3aab8382145790667fd8
@arun-gupta did you find solution?

[2014-10-28 14:05] scottkurz opened #269 "Using reader classloader fails to load CSV file in "Batch Chunk CSV Database" sample with glassfish-embedded-arquillian profile. Maybe use TCCL instead."
Pasted the last part of the stack trace below ... hit the same thing on IBM JDK 7 and Oracle JDK 7.

I noticed one of the json samples uses the TCCL to load a file.  Made the change it worked for me (sorry for not including a pull request).

[code]

Console log w/ stack trace

[code]

[2014-10-29 10:40] #269 closed, assigned to nobody

[2014-10-30 20:58] aguibert opened #271 "Extra method parameter in org.javaee7.ejb.lifecycle.MyStatefulBean"
The lifecycle callback interceptor methods defined on this bean are as follows:

[code]

However, the interceptor spec says:

Since these are lifecycle callback interceptor methods defined on a target class (MyStatefulBean), these methods should be of the form `void <METHOD>()` rather than `void <METHOD>(InvocationContext)`

[2014-10-30 22:12] #271 closed, assigned to nobody

[2014-11-02 21:26] #261 closed, assigned to nobody

[2014-11-20 15:46] alexsm82 opened #278 "WebSocket tests have hard coded ports"
All of the websocket-client-... samples have the port hardcoded in, rather than getting the port that is being used. This can cause problems for anyone running with a port other than 8080.

[2014-12-09 23:27] arun-gupta opened #279 "Building repository on a fresh machine requires two extra steps"
Cloning repository on a "fresh" machine requires following two steps:
. mvn install (kill after the parent pom is installed)
. cd test-util; mvn install

This is a sub-optimal experience and need to be cleaned up.

Suggestions?

[2014-12-14 18:31] scottkurz opened #281 "batch/chunk-exception sample has too strong a dependency on WildFly behavior (incl. bug?) on retry after rollback"
# Summary

There are some differences between GlassFish and WildFly in the retry behavior after a rollback.   This affects the metric counts (as the test observes in a commented-out assertion on the skipped write count).  I think, though, that there might be a bug in the WildFly implementation.   Here is a writeup of my findings and some suggestions.
# Some background

Currently, GlassFish 4.1. in

[2014-12-15 18:37] whitingjr opened #283 "SNAPSHOT build dependency missing."
Hi,
 Tried for the first time building the ejb timer project by following the build instructions.

But getting this build error

 Is there a repo I need to add to my settings.xml to resolve the snapshot version or something else ?

[2014-12-17 10:46] karianna opened #284 "TimerScheduleBatchTest fails expected:<COMPLETED> but was:<STARTED> - Wildfly 8.0.0"
Using Wildfly 8.0.0 and firefox driver.  Works fine with Wildfly 8.2.0.Final

10:22:15,307 INFO  [org.jboss.as.repository](management-handler-thread - 5) JBAS014901: Content removed from location /Users/karianna/Documents/workspace/AdoptAJSR_projects/javaee7-samples/batch/scheduling/target/wildfly-8.0.0.Final/standalone/data/content/cc/e8b6a62a4e644348b6b22aa2d244318a5aa5c6/content
10:22:15,307 IN

[2014-12-17 23:44] #284 closed, assigned to nobody

[2014-12-19 16:49] joedayz opened #285 "Is there some problem with the configuration or version of arquillian?"
Hi guys

I am getting this error in a new fresh installation.

Test set: org.javaee7.batch.chunk.checkpoint.BatchChunkCheckpointTest
-------------------------------------------------------------------------------
Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 5.02 sec <<< FAILURE! - in org.javaee7.batch.chunk.checkpoint.BatchChunkCheckpointTest
org.javaee7.batch.chunk.checkpoint.B

[2014-12-19 19:13] abhirockzz opened #286 "chunk-mapper test failure (GlassFish 4.1)"
Unable to build due to chunk-mapper test failure

More details below:

Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 48.715 sec <<< FAILURE! - in org.javaee7.batch.sample.chunk.mapper.BatchChunkMapperTest
testBatchChunkMapper(org.javaee7.batch.sample.chunk.mapper.BatchChunkMapperTest)  Time elapsed: 0.673 sec  <<< FAILURE!
java.lang.AssertionError: expected:<20> but was:<0>
    a

[2014-12-20 22:33] #286 closed, assigned to nobody

[2015-01-05 12:37] radcortez commented on #285
Hi @joedayz

Unfortunately I don't have any machine with a win8 env. I did try it with win7 and jdk 8 and it worked fine (except for test failures), but the container started up.

On Mac, it's working. You are having test failures. It's "normal", since tests may not be updated or the applications servers may be doing something different from what's expected in the spec. Anyway, run with the flag -

[2015-01-12 19:22] joedayz commented on #285
Thanks @radcortez

[2015-01-12 23:12] radcortez commented on #285
Is this ok? Can we close the issue?

[2015-01-12 23:13] joedayz commented on #285
Yes. All is ok!! Thanks

[2015-01-12 23:13] #285 closed

[2015-02-23 13:31] arjantijms commented on #243
It looks like this is still broken. See e.g.

https://javaee-support.ci.cloudbees.com/job/javaee7-samples-wildfly-8.2/lastBuild/org.javaee7.jaspic$wrapping/testReport/org.javaee7.jaspic.wrapping/WrappingTest/org_javaee7_jaspic_wrapping_WrappingTest/

Although WildFly is being more than a little cryptic with its error message, the following seems to indicate that the required security domain is sti

[2015-02-23 13:32] arjantijms commented on #243
@johnament @arun-gupta Did you ever looked into this? Is it still broken or did it broke again when a new WildFly install was done?

[2015-02-23 17:10] arun-gupta commented on #243
I never looked at it. Have you followed on wildfly-dev alias?

[2015-02-23 20:36] arjantijms commented on #243
@arun-gupta

Sorry, I perhaps wasn't entirely clear. The question was not about fixing the underlying issue (I recently had a short discussion with Stefan Guilhen about this), but about applying the XML fragment from the openings post to standalone.xml.

But eventually this is probably not going to work. The JASPIC tests require a modification of standalone.xml, so I have to ask one of the maintai

[2015-02-23 21:49] arjantijms opened #291 "Remove Groovy support?"
This project has added a quite a bit of complexity in order to support Groovy for test files.

I wonder, is this really worth it? Maybe I'm missing something, but I see only 3 .groovy files being used in the entire project.

Besides the complexity vs usage, is it really a good idea to have tests in totally different formats? I would argue it's better for consistency to have all tests in the same f

[2015-02-23 22:07] bartoszmajsak commented on #291
The idea was to use Spock for testing, but it is apparently not gaining any attention.

I don't really feel like it is bringing that much of complexity, but on the other hand having multiple test frameworks won't really help to have consistency, if that's our goal...

[2015-02-24 02:33] arun-gupta commented on #243
CLI approach is probably the recommended one. Do you think this needs further discussion or you can send a PR?

[2015-02-24 08:09] arjantijms commented on #243
Okay, I'll try the CLI approach then. Don't think it needs much more discussion. I will experiment a bit with it locally and if works I'll send a PR. Thanks!

[2015-02-24 22:26] arjantijms commented on #291
For pure Maven command line usage, it's perhaps just a bit. The pom.xml is already big and complex and groovy support adds just that extra bit.

But for Eclipse users it really is more than a bit. Installing the Groovy-Eclipse plug-in is quite involved and a bit invasive. Worse yet, at the moment the Groovy-Eclipse plug-in can't even be installed in Eclipse Luna SR1 with the intermediate git updat

[2015-02-25 00:07] aheusingfeld commented on #291
I wonder how many users are probably affected by the scenario (read: "the trouble") you describe above? It seems to me we are talking about removing the 3 dependencies to groovy-all, spock and the groovy-eclipse-compiler to reduce a hassle that Eclipse is implying to Groovy users at the moment. We could also consider raising an awareness to the problem in form of an issue on the [Groovy Eclipse Pl

[2015-02-25 01:30] radcortez commented on #291
I would prefer to keep consistency and use the same system / language for tests.

BTW, the Groovy dependencies also cause some problems on IntelliJ. If you try to run the tests directly on IntelliJ, sometimes you get an Exception. The only reliable way to prevent it, is for me to comment out the arquillian-spock-container dependency.

[2015-02-25 09:03] kubamarchwicki commented on #291
+1 for scrapping Groovy.

All the *three* Spock tests are also written in jUnit - so scrapping Groovy will have no impact on coverage. As no additional tests were written since introducing Spock (a year ago) scrapping Groovy support seem a good idea.

[2015-02-25 09:19] bartoszmajsak commented on #291
![sadpanda](https://cloud.githubusercontent.com/assets/719616/6367894/bcc82648-bcd7-11e4-8f3f-4b51c689e955.png)

[2015-02-25 11:29] aslakknutsen commented on #291
What's the issue with Groovy and Eclipse?

I just tried a fresh Luna EE SP1 install. Imported the servlet-filter sample via m2e. M2e found the groovy compiler settings, installed groovy m2e integration, groovy compiler and groovy eclipse integration.. restart.. run as test and all green.. ?

[2015-02-25 12:35] johnament commented on #291
I dunno, TBH I think most of the issues are simply due to the number of modules in the project, not the implementation language of some tests over others.

[2015-02-25 12:48] arjantijms commented on #291
It works on a fresh Luna EE SR1, it doesn't work anymore on SR1a. SR1a wasn't packaged, but after you install a fresh Luna EE SR1, then do Help -> Check for Updates, you should see an incoming update. See also http://jdevelopment.nl/mysterious-44120150109-eclipse-luna-update-sr1a

[2015-02-25 12:53] arjantijms commented on #291
Indeed, even if Groovy would work out of the box with zero extra effort and zero extra dependencies, I'd still prefer a consistent system.

Now someone wanted Groovy tests. Maybe tomorrow we have someone who really likes Scala and adds support for that, then a little while later we have someone who thinks JavaScript based tests are the best. Then someone else might prefer TestNG, and yet another p

[2015-02-25 13:12] aslakknutsen commented on #291
Don't really agree with this being a problem per say. This is _samples_ repository, not an Enterprise app.

You could say the same about anything that is not _pure_ JavaEE APIs, AngularJS, NoSQL, Quartz, Twitter, Apache Camel etc etc..

I'm not necessarily for rewriting all Test cases in Groovy because I think that is just as wrong from a diversity standpoint.. But in this case where we're talking

[2015-02-25 13:42] arjantijms commented on #291
I do indeed think that in the Java EE samples project, usage of AngularJS, Twitter etc, should be minimized. Before you know it the EE samples project loses coherence and it will become a general coding samples project (any language, any technology, any system).

Of course, at some point it may make some sense to use AngularJS, e.g. perhaps to show it can easily do requests to JAX-RS, and to use Q

[2015-02-25 14:00] radcortez commented on #291
We could have a separate repo to showcase integration with other technologies and leave this one with plain Java.

Another problem is that sometime people only want to run demos for JPA or JAX-RS, you name it. At the moment they have to download the full repo and load everything in the IDE and so on. Maybe this is a different discussion, but I would like to hear your thoughts about it.

[2015-02-25 14:38] aslakknutsen commented on #291
@radcortez downloading the 'complete repo' isn't much hassle.. and you _choose_ to import the whole thing. You don't need to. You can choose to only import the samples you want or a section e.g. servlet.

Perhaps we should document that a bit better

[2015-02-25 18:46] noahwhite commented on #291
This is repo is fantastic and I find it the canonical repo for showcasing the JavaEE framework. I really appreciate the hard work and dedication it takes to make this happen!

In this instance I see value in showcasing the fact that JavaEE isn't the stodgy framework it once was and is sometimes still perceived to be by some.

Part of that is showcasing just how flexible an environment it is. If yo

[2015-03-03 15:00] akoblentz commented on #283
I'm having the same issue now... I've tried a few times.

[2015-03-05 09:27] olukashevich opened #293 "Missing artifact "test-utils" (run test for CDI)"
In https://nexus.codehaus.org/#view-repositories;snapshots~browsestorage~test there is no this artifact and maven can not run test for CDI - how can I fix it?

Thanks.

[2015-03-05 10:19] radcortez commented on #293
Go to this project: https://github.com/javaee-samples/javaee7-samples/tree/master/test-utils

And install it in your local repo with `mvn clean install`

[2015-03-05 11:00] olukashevich commented on #293
Thanks!) I saw it 10 mins ago  herself)))))))))))

[2015-03-05 16:04] radcortez commented on #293
Great! Fixed your problem?

[2015-03-05 16:07] radcortez commented on #283
@whitingjr,

@akoblentz was having the same problem and after speaking with him, it was a problem in is local settings.xml that was pointing to a repo that didn't have the dependencies. Maybe you have a similar problem?

[2015-03-05 16:23] arun-gupta commented on #293
I thought we fixed it that anybody who build the workspace from scratch will not face this. Is this not the case?

[2015-03-05 17:03] radcortez commented on #293
But you always need to perform the first build from the root folder.

[2015-03-05 17:23] arun-gupta commented on #293
And then everything will work?

[2015-03-05 17:33] radcortez commented on #293
Yes

[2015-03-05 17:33] radcortez commented on #293
BTW, someone asked me and I've made this video explaining how to setup the samples:
https://www.youtube.com/watch?v=BB4b-Yz9cF0

[2015-03-05 18:22] arun-gupta commented on #293
really nice, tweeted https://twitter.com/arungupta/status/573549034259943424

[2015-03-05 18:22] olukashevich commented on #293
radcortez
"But you always need to perform the first build from the root folder."

Yes, I done it and can now running tests for CDI (i built exatly root folder, because test-utils has dependency on root artifact "samples-parent") - https://www.youtube.com/watch?v=BB4b-Yz9cF0 - like here.

Thank you very match!

[2015-03-05 19:59] radcortez commented on #293
Thank you @arun-gupta

You are welcome @olukashevich

Closing this issue!

[2015-03-05 19:59] #293 closed

[2015-03-06 13:23] kubamarchwicki commented on #291
What you think of moving groovy / spock from the main project and put it into `extras`. After all Spock tests didn't show up at http://javaee-samples.github.io/ (at least some time ago) and maybe the extras folder is a better place for that.

That will make the repo cleaner, but still show capabilities of Arquillian Sputnik within the project. Steps would be
- [ ] removing groovy from `pom.xml`
-

[2015-03-06 17:10] kubamarchwicki commented on #283
On default (empty) settings.xml
[code]

Can we close the issue?

[2015-03-08 10:54] radcortez commented on #283
I think so. Closing.

[2015-03-08 10:54] #283 closed

[2015-03-09 13:55] kubamarchwicki commented on #279
Subject to close? Trying to filter issues that are still issues? :)

[2015-03-10 18:26] kubamarchwicki commented on #264
With the video instruction in #294 this issue is also subject to close.

[2015-03-10 18:30] kubamarchwicki commented on #148
This is merged in. Closing time?

[2015-03-10 19:58] #279 closed

[2015-03-10 19:58] #264 closed

[2015-03-10 19:59] #148 closed

[2015-03-10 19:59] #253 closed

[2015-03-11 21:43] kubamarchwicki commented on #206
Wonder...

@johnament - any particular reason why tomee-embedded is the default profile for the travis build?
As it fails - it doesn't give a decent picture on PR.

I'd rather go for either 'safe profile'(like wildfly-embedded) or go for build matrix
[code]

or drop travis completely in favour of cloudbees and (maybe) https://wiki.jenkins-ci.org/display/JENKINS/GitHub+Plugin?

[2015-03-11 21:44] arun-gupta commented on #206
+1 on wildfly-embedded, Tom EE is not Java EE 7 certified anyway.

[2015-03-20 13:26] arjantijms commented on #291
@kubamarchwicki sounds like a plan ;)

I encountered some additional issue with the Groovy support.

Builds now hang at this:

[INFO] Scanning for projects...
[INFO] Downloading: http://repository.codehaus.org/org/codehaus/groovy/groovy-eclipse-batch/2.3.1-01-SNAPSHOT/maven-metadata.xml

I tried to resolve the URL manually, and it either hangs or at an re-attempt returns a 404:

wget http://reposi

[2015-03-25 02:32] chengfang opened #295 "batch/scheduling tests not enough time to complete job execution"
In org.javaee7.batch.samples.scheduling.TimerScheduleBatchTest#testTimeScheduleBatch, wait for 3 job executions to be executed:

`
MyTimerScheduleAlternative.timerScheduleCountDownLatch.await(90, TimeUnit.SECONDS);
assertEquals(0, MyTimerScheduleAlternative.timerScheduleCountDownLatch.getCount());
assertEquals(3, MyTimerScheduleAlternative.executedBatchs.size());
`

but the 3rd job execution will

[2015-04-02 04:00] #248 closed

[2015-04-07 10:55] oluwasayo commented on #93
@arun-gupta I think WADL publishing (just like the WSDL for jax-ws) is a good enough reason. That's what led me here from Google Search. I've seen the Maven Jersey plugging that does this at build time but I think that's not good enough. Besides, my project uses Ant.
Any help?

[2015-04-07 12:44] arun-gupta commented on #93
Closing this issue, please open a new issue for this or discuss in Jersey list.

[2015-04-07 12:44] #93 closed

[2015-04-08 21:12] arjantijms opened #298 "Adding profile for WebLogic"
Oracle will at some time in the (hopefully near) future release their Java EE 7 version of WebLogic.

I've locally prepared a configuration for WebLogic based on the Arquillian WebLogic remote 12.1.2 container (http://arquillian.org/modules/arquillian-wls-remote-12.1.2-container-adapter) and I've got it on good authority that it works with the work in progress EE 7 version of WebLogic.

Unfortunat

[2015-04-08 21:45] kubamarchwicki commented on #298
Arjan, that was on my radar as well. We were experimenting with that during hackergarten in Gdańsk - not very successfully.

Likewise, I had Arquillian working with WebLogic 12.1.3 for some of my projects and I fully agree - it was a bit pain to start. If I remember correctly no proprietary Maven library was needed, but the `arquillian.xml` was verbose with the local path - indeed - required. Howe

[2015-04-08 22:13] arjantijms commented on #298
With the latest version of Arquillian container it's unfortunately needed. It uses the t3 protocol to communicate with the remote server, and this URL protocol need to be placed on the classpath, for which you need a library. Once everything it setup, the tests run fine (I did only run the JASPIC tests though, which are my main area of interest).

I personally contributed to this container (see co

[2015-04-08 22:28] kubamarchwicki commented on #298
Didn't. I was using 1.1.5.Final and don't recon any problems - but my memory might fail me here.
As in this project https://github.com/kubamarchwicki/weblogic-producers - I had some issues with @Produces annotation on WLS

Sure. Though, no matter how containers will be provided it will never be as smooth process as with other app servers - a number of manual steps will be required.
Because one thi

[2015-04-08 23:05] arjantijms commented on #298
Hmmm, we may be talking about different things ;)

I'm referring to this one: http://arquillian.org/modules/arquillian-wls-remote-12.1.2-container-adapter

Part of this code was provided by myself and we had a long discussion with the other authors about it, and a URL handler for the t3 protocol is really needed.

[2015-04-08 23:12] kubamarchwicki commented on #298
Ok - now it reminds me what I was sticking to http://arquillian.org/modules/arquillian-wls-remote-12.1-container-adapter/ (mind the version) on the latest weblogic.
Not sure about t3 protocal or a different problems made me stick to the older version

[2015-04-09 07:16] arjantijms commented on #298
The older version is incredibly unstable, unfortunately. It seems to work at first, but then keeps failing intermittently. It uses the deployer command, which doesn't give enough feedback for programmatic usage.

[2015-04-19 23:33] arjantijms commented on #263
@notatibm @arun-gupta

I just added a PR that adds the mentioned Arquillian container for Liberty to pom.xml. See https://github.com/javaee-samples/javaee7-samples/pull/299

As discussed on SO the JASPIC samples had to be adjusted to wrap the war that's normally used for testing in a dummy EAR to satisfy the somewhat unfortunate requirement that Liberty has that a group to role mapping file can on

[2015-04-21 15:50] arjantijms commented on #263
One thing to consider, as mentioned by @notatibm

Would it be an idea to ask special permission for this?

Alternatively, someone could run the tests for Liberty periodically on a desktop and publish the test results.

What do you think?

[2015-04-21 19:07] notatibm commented on #263
@arjantijms since I made that comment we updated the license of the version on WASdev.net that would allow use on a build server, provided the heap is under 2Gb. The actual limitation is no more than 2Gb per organization, so if you ran 2 builds at the same time it would need to be 1Gb each build. Also not sure in this case what the organization would be. I don't know if that helps.

IANAL

[2015-04-21 21:43] arjantijms commented on #263
@notatibm right, I almost forgot about that. 2GB would be more than enough I guess and I don't think @arun-gupta does concurrent builds on the same server.

IANAL either, but it sounds like it should not be an issue indeed ;)

P.s. what do you think about the results from the JASPIC test?

[2015-04-22 14:26] kwsutter commented on #263
@arjantijms, We're looking into the JASPIC test failures you highlighted.

[2015-04-22 15:29] arkarkala commented on #263
@arjantijms  have you implemented your own JASPIC provider and configured it as a Liberty product extension feature? We only provide the support to plug your own JASPIC provider and do not ship one.

[2015-04-22 16:04] arjantijms commented on #263
@arkarkala for the tests nothing was configured as a Liberty product extension feature, although I'm not 100% sure what you mean with a JASPIC provider. It sounds like there may be a confusion with a *JACC* provider, which is indeed something you don't seem to ship (I'm pretty sure this is a spec violation as well, but that's an entirely different story).

For this case it's only about JASPIC. JAC

[2015-04-22 21:37] arkarkala commented on #263
@arjantijms  Yes, I did mean JASPIC (not JACC). But since you are registering your config provider in your code there should not be a need for an extension feature. Not all changes went into Beta - so you might be hitting these. We will investigate.

Regarding the userRegistry (UR) issue, did you have to specify the same user/group (test/architect) or configure a UR with any (dummy) user only - th

[2015-04-22 22:11] arjantijms commented on #263
@arkarkala

Okay, it's just that the term "JASPIC provider" did not ring a bell, while the term "JACC provider" is quite common.

True, there *should* not be a need for this. But to work around the spec violation where usernames/groups are being validated one is unfortunately needed for practical purposes.

For the test however there was no extension feature used.

Well, given the following server

[2015-04-22 22:47] arkarkala commented on #263
@arjantijms , are you seeing the isValid calls made in the latest Beta (April/May) too?

[2015-04-22 23:23] arjantijms commented on #263
@arkarkala

Yes. The archive I downloaded was `wlp-beta-javaee7-2015.4.0.0.zip` and when starting the server reported `Launching defaultServer (WebSphere Application Server 2015.4.0.0/wlp-1.0.9.20150407-2322`

I just finished the article which contains some more details about the extra test with the custom user registry that I've been doing. See http://arjan-tijms.omnifaces.org/2015/04/testing-jas

[2015-04-23 03:27] arkarkala commented on #263
@arjantijms Can you provide the following trace - com.ibm.ws.security.*=all:com.ibm.ws.webcontainer.*=all so we can see when these isValid calls are being made?

Majority of our customers do use UR so we made it mandatory. Yes, there are few situations where it is not required (for eg, when one does not use the default authentication AND authorization) and having some dummy values in it would be s

[2015-04-23 07:28] arjantijms commented on #263
@arkarkala

I'm on a different computer now, but I'll provide these later today. It should also be easy for yourself to see this. This test repository is set up such that everything is fully reproducible. Nothing in the tests depends on anything that's specific to my environment.

If you follow the instructions from https://github.com/javaee-samples/javaee7-samples/blob/master/README.md you should

[2015-04-27 21:49] arjantijms commented on #298
I just did a PR for the profile: https://github.com/javaee-samples/javaee7-samples/pull/301

As it appeared the mentioned library didn't needed to be added to the pom.xml after all.

The handler for the t3 protocol is of course needed, but the Arquillian container takes care of this via a custom class loader. We though this didn't work before, but the path to the library wasn't entirely correct, a

[2015-05-04 07:05] arjantijms commented on #263
@arkarkala @notatibm Just wondering, any luck with the JASPIC issues yet?

[2015-05-04 13:34] kwsutter commented on #263
Hi Arjan,
We've made fantastic progress with the samples...  One of the developers
will be replying very soon, but he took a couple days of vacation.  But,
it's looking very good.

Thanks for your patience.
Kevin

On Mon, May 4, 2015 at 2:05 AM, Arjan Tijms <notifications@github.com>
wrote:

[2015-05-04 17:22] arjantijms commented on #291
With the imminent shutdown of codehaus, do we to boost this issue a little perhaps?

[2015-05-10 14:30] #298 closed

[2015-05-11 19:00] paulben commented on #263
Hi Arjan,

I've been working on the JASPIC problems you reported on the WebSphere Liberty profile. I have all of the failures that you reported working in the new May beta. I've been using the github/maven test environment as documented here on github.com/javaee-samples/javaee7-samples, which does work as advertised, no problem.

You will see one failure - async-authentication - that I didn't get

[2015-05-11 20:26] arjantijms commented on #263
Sounds great, thanks for looking into this!

That's a peculiar one, I didn't see that one failing in the previous test run I did (the one from https://github.com/javaee-samples/javaee7-samples/issues/263#issuecomment-94323049)

That's a great improvement, I noticed this in the release notes of the latest beta that was released last week.

I'm very sorry that I didn't mentioned this before. Indeed,

[2015-05-11 20:43] paulben commented on #263
Correct, the async-authentication failure was not there before. It was introduced by my changes to fix the failures you reported. I didn't catch it in time for the beta, but it is fixed now.

We're investigating the getUserPrincipal issue.

[2015-05-12 01:16] paulben commented on #263
Yep, that's a bug in Liberty getUserPrincipal. I coded up a fix and the tests run clean without the UNAUTHENTICATED change.

[2015-05-12 07:08] arjantijms commented on #263
That's really great news! :) Thanks for your efforts.

Btw, I'm working on a few more tests but those aren't ready yet.

They concern the ability to include/forward to a resource from the SAM (new requirement in JASPIC 1.1) , setting a specific HTTP status code from a SAM and explicitly testing whether the response can still be written to when a SAM's `secureResponse()` method is called.

[2015-05-14 04:48] paulben commented on #263
Hi Arjan,
Have you been able to get the forward to work on any container? I'm able to get include working on Liberty. But I found that on return from the forward the response object is committed and closed. The spec requires the MessageInfo object to contain the request and response objects that the runtime uses for the web request being processed, and it also requires that those req/res objects b

[2015-05-14 12:31] arjantijms commented on #263
@paulben

Hi Paul,

It's been a while since I tested this, but originally (for JASPIC 1.0) it already worked in GlassFish and Geronimo, but failed on JBoss, WebLogic and WebsSphere.

Indeed, that's of course not the intended use for a forward.

The main use case is to be able to implement Servlet's native FORM authentication using a portable JASPIC authentication module. Servlet's FORM asks for a

[2015-05-14 23:45] paulben commented on #263
Yes that helps thanks. Definitely agree that the intent (and the implied flows) are not at all clear from the spec.

So just to summarize: the behavior on SEND_CONTINUE with status code other than 302, 303, 307 or 401 is to simply return the response object as is. Essentially the provider is not authenticating the request, it's just displaying a login form, and the user agent will then need to inv

[2015-05-15 07:24] arjantijms commented on #263
That's correct.

It doesn't necessarily need to be the original target. In Servlet FORM for instance the postback is a virtual URL named "j_security_check". There's no resource behind this URL, just a *name* the SAM is listening too.

There the flow is thus:

* User accesses /protected/foo
* SAM sees /protected/foo is protected and user not authenticated
* SAM remembers original request, forwards

[2015-05-15 16:26] paulben commented on #263
Gotcha, totally clear now. Thanks.

We can make that change easily enough. One concern is that it appears to be an incompatible change of behavior from the 1.0 spec - a SEND_CONTINUE that causes us to fail the request today would now return the response as is. So we want to carefully consider how to proceed as we want provider portability between our 1.0 and 1.1 impl's as much as possible.

From y

[2015-05-15 20:38] arjantijms commented on #263
@paulben

True

I hear you, however it might be debatable how much this is really an issue for this particular point.

JASPIC 1.0 said the following:

There are a few points to take into account here:

First is that the spec text mentioned 401, 303, 307 as examples, but doesn't say anything definitive about which status codes should be set, not even which ranges. It also says nothing about which s

[2015-05-22 19:24] arjantijms commented on #263
@paulben

I've a added tests for the forwarding as mentioned before, and one new test that tests whether the second form of the CallerPrincipalCallback (where you pass a custom Principal in instead of a string) works correctly.

Liberty fails this test too (I tested with the previous beta, wlp-1.0.9.20150407-2322). Instead of the custom principal that was set, HttpServletRequest#getUserPrincipal r

[2015-05-26 14:58] bartoszmajsak opened #306 "Pull Requests/Merge to master"
Hi guys,

I understand we gave up on rebase approach and we do ``merge`` from GitHub. Fine with me.

I'm just wondering why do we merge PR which leads to failing build? Such approach has a risk of introducing lots of issues to the whole project because we are missing an opportunity to validate it.

I assume a PR is at least executed on local env of the approver before hitting a magic button, isn't

[2015-05-26 15:02] bartoszmajsak commented on #219
Any thoughts on that? Stuff is growing. We don't see any problems with it?

[2015-05-26 15:16] arun-gupta commented on #306
@aheusingfeld any idea why Travis build is failing?

[2015-05-26 15:17] arjantijms commented on #306
@bartoszmajsak

I think the reason for failing the build is not correct.

The build is now failed when any test fails. But the tests point out incompatibilities/bugs in various servers, so almost by definition not all tests can pass.

For instance, no matter the commit, the build is now ALWAYS failed because some early test in Batch fails. But if JBoss (which is used to run the tests against I thi

[2015-05-26 15:18] arjantijms commented on #306
@arun-gupta

It seems it actually runs the tests and aborts on the first failure, then marks the entire build as failed. See my comments here as well: https://github.com/javaee-samples/javaee7-samples/pull/303

[2015-05-26 15:20] bartoszmajsak commented on #306
Which essentially means that we (and people potentially interested in Java EE goodies) have no idea if this code is valid or not unless they somehow manage to run relevant parts.

I think the problem lies in the way how the repository is structured, but also how we have builds defined. I believe we can do way better.

At this point all of the infrastructure around serves no purpose in my humble op

[2015-05-26 15:27] arjantijms commented on #219
No, I don't think so. It's the intention of tests to fail, since they are pointing out bugs in the servers. For instance I just added a JASPIC test that fails on GlassFish but succeeds on JBoss. The fact that the tests fails on GlassFish is not a problem with the test or an indicator of the health of a module, but it points out GlassFish doesn't implement the JASPIC spec correctly here.

Of course

[2015-05-26 15:34] arjantijms commented on #306
No, the test is valid. Their server is not.

It points out to people they can't use that feature on their specific server. To run all tests and don't have the run abort on the very first failure `--fail-at-end` can be used.

That said, we should check external and each other's commits to really make sure the test is indeed valid. This is not always easy, I mean who knows enough about JASPIC here t

[2015-05-26 15:36] aheusingfeld commented on #306
That's not totally correct. It seems that Travis builds cannot have more than 10000 lines of output. If you take a look at all the builds, they are all stuck at this log line no matter what it is. I'll ask the travis guys about it.

[2015-05-26 15:50] arjantijms commented on #306
Okay, that's interesting. It looked like the abort was on the first failure, but could be a coincidence then.

[2015-05-26 16:31] aheusingfeld commented on #306
intermediate result: downloading dependencies alone takes ~3 minutes! https://api.travis-ci.org/jobs/64117841/log.txt?deansi=true

[2015-05-26 17:41] radcortez commented on #219
I think it would be cool if we set up the sample in a way that people just need to checkout the sample that they need. I already have a few persons asking me for help because they were only interested in one particular sample and needed to checkout and mount in the IDE the full project.

[2015-05-26 18:15] arjantijms commented on #219
I have somewhat of the same issue. I work with several vendors to help improve their JASPIC implementation based on the test results, and often tell them to just comment out all modules except for jaspic and the common one.

For that particular situation the checkout itself isn't the real problem, but waiting for all tests to have run before it finally starts doing the tests you're interested in i

[2015-05-26 18:20] bartoszmajsak commented on #219
I do see several problems with such an approach. First of all having unstable builds we do not really know what is working where exactly. The structure is far from what I would personally consider fast feedback loop. This can easily lead to sneaking in regressions or simply bad code (I would also strongly advise some informal code reviews for any PR). At the end of the day build is simply useless.

[2015-05-26 18:21] johnament commented on #219
I think the key thing is the sheer quantity of modules in the project.  To me, there are too many and even someone just looking at it, way too many.  I feel bad because last year at JavaOne I volunteered to fix the build issues for Arun, but can't due to how its structured.

I would prefer a module per technology, and tests representing the functionality needed.

[2015-05-26 18:22] bartoszmajsak commented on #219
This is exactly the probIem I see. I don't feel like it is really easy for people to contribute. Honestly even for me it's simply a counter productive setup.

[2015-05-26 18:28] radcortez commented on #219
@bartoszmajsak what do you suggest then?

[2015-05-26 18:35] bartoszmajsak commented on #219
I would love to brainstorm about possibilities to slice this repository and also about smarter builds.

Modules are self-contained and they do not depend on each other. This opens up several possibilities. We can try to run them in parallel (but that might be a bit challenging with Arquillian and managed containers). However it would be great to achieve such a setup and improve Arquillian (if need

[2015-05-26 18:56] arjantijms commented on #219
Well, in my opinion the build is not unstable at all. It's an unfortunate fact of life that not all functionality works on every server. That's why there are several profiles for different servers in the first place. If every server perfectly implemented all functionality then we only needed a single server profile.

This project is simply not about a single business product which indeed has to be

[2015-05-27 02:58] radcortez commented on #219
I agree with @arjantijms about the build not being unstable. After all, one of the purposes of this projects was also to make sure that the test run on every serve and if not, make sure that the test is right and that the server is the problem. So kinda acting like a TCK.

@bartoszmajsak why don't you do some work in your fork and then we can review it?

[2015-05-27 07:25] bartoszmajsak commented on #219
@radcortez

There is substantial difference between broken / failing build and unstable one. When build fails or ends due to some error (like we are facing now with Travis) we loose a chance to run other tests (so we don't know if changes we made are actually working unless we run them locally which pretty much contradicts with the idea of CI to some extent). In our current situation we have all [

[2015-05-27 11:36] aheusingfeld commented on #219
Maybe not everyone remembers but we still have this awesome piece http://javaee.support/ created by @aslakknutsen. IMHO this not only has some indication how we could separate the project but also provides an overview of failing tests. Unfortunately I don't remember exactly on which build this is based on. @aslakknutsen could you shed some light?

[2015-05-27 15:32] aslakknutsen commented on #219
I agree it's important to be able to separate between 'New Failing / Somethings wrong' and 'Expected to fail in this version'. As pointed out earlier, some of my initial thoughts by adding Arquillian tests to all the samples were to show 'what works where'.

A fairly simple solution could be to expose some variable and a little helper class in the Maven profiles and use JUnit Assume to weed out Fa

[2015-05-27 23:34] aheusingfeld commented on #306
There are really a lot of broken tests in the Travis build. Maybe one of you already wants to take a closer look into them while I'm trying to get the build working? https://api.travis-ci.org/jobs/64335298/log.txt?deansi=true

[2015-05-28 06:46] arjantijms commented on #306
One additional type of "failure" that I see in the log is that some tests are run against TomEE, but TomEE is a web profile+ implementation and doesn't support all technologies that are tested.

For instance, JASPIC fails on TomEE, but TomEE doesn't support JASPIC.

[2015-05-28 23:55] paulben commented on #263
Hi Arjan, that's now fixed.

Paul

[2015-05-29 23:43] aheusingfeld commented on #306
FYI I split the travis build by subfolder so they could theoretically run in parallel. I think [the output of this](https://travis-ci.org/javaee-samples/javaee7-samples/) very clearly highlights our current problem: it's just too huge to be one piece! If the build of a single subproject takes more than 6 minutes, how are we still able to speak of "fast feedback"?

@bartoszmajsak I guess splitting

[2015-06-02 15:32] mlabuda opened #308 "Remove groovy-eclipse-compiler dependency"
We, in JBDS, are trying to provide support for Java EE. One part includes importing, building and deploying websockets inside JBDS. Unfortunately this is not possible because there is no maven  groovy-eclipse-compiler connector for Eclipse Mars:
"No marketplace entries found to handle groovy-eclipse-compiler:2.8.0-01:add-groovy-build-paths in Eclipse. Please see Help for more information."

 groov

[2015-06-02 15:48] arun-gupta commented on #308
@mlabuda what is your proposal? i.e., what needs to be changed in existing project structure/pom.xml to simplify running these projects in JBDS?

[2015-06-02 19:56] kubamarchwicki commented on #308
I think we've covered the scenarios in here https://github.com/javaee-samples/javaee7-samples/issues/291 - what's left is just a pull request... just ;-)

[2015-06-02 20:17] arun-gupta commented on #308
@mlabuda can you send a PR then? :)

[2015-06-03 07:13] mlabuda commented on #308
It's not so simple as kuba said here https://github.com/javaee-samples/javaee7-samples/issues/291#issuecomment-77557570

Removing it only from maven-compiler-plugin dependencies and configuration makes mvn build failing.
Could you please look at it? Thanks.

[2015-06-03 07:23] bartoszmajsak commented on #308
What is the exact reason of failing build? Because the build is failing by default when running tests anyway ;)

[2015-06-03 07:39] mlabuda commented on #308
"[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:testCompile (default-testCompile) on project jsf-bean-validation: Compilation failure
[ERROR] /home/equo/testing/java-ee7-samples/javaee7-samples/jsf/bean-validation/src/test/java/org/javaee7/jsf/bean/validation/MyBeanTest.java:[66,22] cannot access org.w3c.dom.ElementTraversal
[ERROR] class file for org.w3c.dom.Ele

[2015-06-05 22:30] kubamarchwicki commented on #306
Split by subprojects makes a perfect sense.

Though I have a different question, we are testing against `wildfly-embedded-arquillian` (8.2.0.Final). Not that I have anything against Wildfly, but why aren't the tests run against Glassfish (afterall, the reference implementation)?

[2015-06-06 07:05] kubamarchwicki commented on #291
Pull request is proposed #310, waiting for feedback :)

[2015-06-06 07:09] kubamarchwicki commented on #308
Please have a look if this PR #310 works for you.
There is no Groovy / Spock  dependecy unless you build the `extra` module explicitly.

Your error seem to me quite suspicious though and might not be related to groovy itself.

[2015-06-06 10:15] aheusingfeld commented on #306
@kubamarchwicki forget what I said in the comment above, I tried different things locally and I think that splitting into multiple subprojects, i.e. `javaee7-jpa-samples`, is the only right way to go.

I have no feelings about this. I doubt though that switching the server will have an impact on the OutOfMemoryError we currently have for the [JPA build](https://travis-ci.org/javaee-samples/javaee7

[2015-06-06 10:41] kubamarchwicki commented on #306
Didnt know a out OOM with JPA :o

Maybe a different approach, have a wildfly / glassfish instance running and
runt the remote tests? For the sake of a build?

Splitting into multiple independent projects might be a way to go as well
but it complicates the build process (slightly). Unless we cover the basics
and make sure the parent pom and some utils libs will be distributed as
maven dependencies

[2015-06-06 11:00] aheusingfeld commented on #306
I [switched the build to glassfish](https://github.com/javaee-samples/javaee7-samples/commit/227c82f9d13c2d728623f683b6fe7cd604bd4c79), let's see how it goes.

We'll need a `javaee7-samples-parent` project that holds the parent `pom.xml` which has properties for each libraries version and a proper `<dependency-management>` section. We can then publish this to bintray or reference it via jitpack.io

[2015-06-06 11:16] kubamarchwicki commented on #306
There are two util projects; utils for batch and generic test utils
(arquillian config and Parameterized test rule)
After that we should be able to split and distill a project per spec
element.

Though that's quite a revolution :)
On 6 Jun 2015 13:00, "Alexander Heusingfeld" <notifications@github.com>
wrote:

[2015-06-06 14:56] bartoszmajsak commented on #291
Just wondering how is that related to using spock for testing...

[2015-06-07 18:36] kubamarchwicki commented on #291
It doesn't; there was a codehaus repository defined in pom. Dropping it didn't change anything - and now whole Spock testing thing (thus Groovy) in hidden in a single extras/ project - with dependencies from central repo.

[2015-06-19 02:15] buttso opened #312 "jaxrs resource validation test should check status code not status info for equality"
The jax-rs resource-validation test uses an assertion that checks Response.StatusType for equality which may not be standard across implementations. ie reason phrase is not mandated - is that considered as part of the equality check?  Should check the statusCode of the expected StatusType versus reponse.getStatusCode() to be more specific.

[2015-06-24 02:41] #291 closed

[2015-06-24 02:41] #308 closed

[2015-06-24 02:55] alexsm82 commented on #278
Resolved in Pull Request #311

[2015-06-24 02:55] #278 closed

[2015-07-01 19:34] paulben commented on #263
Arjan,
FYI the include tests are failing and we are investigating. That last bunch of tests came in right at the end of our release cycle and we didn't have time to get them all working in the 8556 release. For now a workaround I've found  is making the included servlet have asyncSupported=true:

[code]

[2015-07-10 22:54] cworsley4 commented on #119
Question for you @arun-gupta, I have updated my web.xml file to match the one found in the endpoint-wss sample project but still have issue connecting over wss. Is there anymore direction you could provide in securing socket connections? My browser provides me with this status message:
``WebSocket connection to *********** failed: Error in connection establishment: net::ERR_SSL_PROTOCOL_ERROR``

[2015-07-11 05:16] arun-gupta commented on #119
What application server are you using?

[2015-07-12 00:45] cworsley4 commented on #119
Tomcat

[2015-07-12 16:07] arun-gupta commented on #119
These samples are verified on a Java EE 7 compliant application server. You may like to ask your questions on Tomcat forum, OK?

[2015-07-12 16:07] #119 closed

[2015-07-12 19:49] johnament commented on #119
Actually it looks like a bug with our own tests, @arun-gupta  and @rafabene .  If you look at https://github.com/javaee-samples/javaee7-samples/blob/master/websocket/endpoint-wss/src/main/webapp/websocket.js#L1 you're using the host portion not the host + port portion of the URL.  As a result it's going to assume 80 and 443.  The line below shows how to use it on 8080, but if you're running on mos

[2015-07-12 20:20] arun-gupta commented on #119
Always happy to take a PR :)

[2015-07-15 13:20] AndreaGencova opened #316 "jpa/schema-gen-script-generate"
change of project directory.

[2015-07-15 15:07] arun-gupta commented on #316
Can you describe the issue?

[2015-07-16 07:43] AndreaGencova commented on #316
In this module were used linux directory in persistence.xml (file:tmp/...), in test also.
I'm windows user so  I couldn't build the project. We fixed it to a relative path, project buil directory usage.  We ran test as client, on the client side.

[2015-07-16 12:49] arun-gupta commented on #316
Have you tested on Windows, Linux, and Mac?

[2015-07-16 12:53] AndreaGencova commented on #316
no, just Windows.

[2015-07-16 12:56] arun-gupta commented on #316
PR can be merged after its checked on at least one variety of Linux. Can you try it?

[2015-07-16 14:30] AndreaGencova commented on #316
This version of PR sucessfully passes on Mac and WildFly.

[2015-07-16 16:31] #316 closed

[2015-07-29 10:22] savage-engineer opened #318 "JSF Server-extension possible scope problem on UserAge bean."
When deploying the Server-extension webapp I noticed that the custom converter wasn't passing the age value given to the bean (checked in Chrome, Firefox and phantomJS). I checked in the server log and saw that the faces converter was correctly getting the value and giving it to a new UserAge bean (had it printing to logs).

I resolved this issue by changing the scope on the UserAge bean from @App

[2015-07-29 12:54] arun-gupta commented on #318
Which app server?

[2015-07-29 12:59] iridann commented on #318
GlassFish 4.1

[2015-07-29 13:01] arun-gupta commented on #318
@m-reza-rahman any thoughts?

[2015-08-04 17:25] trajano commented on #243
The CLI approach would be, but not sure where to put it in.

<pre>
/subsystem=security/security-domain=jaspitest:add(cache-type=default)
/subsystem=security/security-domain=jaspitest/authentication=jaspi:add()
/subsystem=security/security-domain=jaspitest/authentication=jaspi/login-module-stack=dummy:add()
/subsystem=security/security-domain=jaspitest/authentication=jaspi/login-module-stack=dummy/

[2015-08-04 17:43] arjantijms commented on #243
I did a tiny amount of experimenting, but didn't got very far either with the CLI approach yet. It needs to be executed before the test war is deployed.

Another approach where I had more success with is a programmatic option. The code for that needs to be put in a jar and can be put in WEB-INF/lib (via e.g. Maven dependency). I was still contemplating how to handle this best. Publish the jar to M

[2015-08-17 18:58] arun-gupta opened #319 "Add the CDDL license back to the original list of files"
[code]

[2015-08-19 13:58] radcortez commented on #319
Done.

[2015-08-24 16:04] arjantijms commented on #243
With regards to the programmatic option mentioned in my last comment, I indeed published it to Maven central and wrote a blog article about it here: http://arjan-tijms.omnifaces.org/2015/08/activating-jaspic-in-jboss-wildfly.html

I'll look into adding this as a dependency for the current JASPIC tests to see if everything then runs on a stock JBoss.

[2015-09-15 13:30] orelgenya opened #320 "Test for programmatic-registration module is incorrect"
This test wrong at many points:
- test returns before calling ParentServlet, which is responsible for ChildServlet registration;
- webclient calls wrong URLs (/ is redundant and don't match with mappings);
- mapping for ChildServlet isn't set (dynamically)
- fail(..) statement prevents execution of meaningful part of the test;
- and finally it wouldn't work because programmatic registration is imp

[2015-09-15 14:55] arun-gupta commented on #320
Send a PR with the fix?

[2015-10-10 03:49] marlonpatrick10 opened #323 "Can the DataStax Java Driver (Cassandra) be safely used in EE servers?"
Hi everyone,

I saw that there is an example of integration with Cassandra using the DataStax driver but I wonder if in a production environment the presented approach can be valid.

From what I could see from code example of javaee7-samples and the answers in the group-list of DataStax Java Driver (https://groups.google.com/a/lists.datastax.com/forum/#!forum/java-driver-user) my findings until th

[2015-10-22 11:20] SinhaAmit opened #324 "Does WildFly 9 supports Jersey 2"
Similar to #93 I'm using Jax-rs-2.0 with Jersey 2.22.1. I added all jersey libraries in my application and I removed <extension module="org.jboss.as.jaxrs"/>, <subsystem xmlns="urn:jboss:domain:jaxrs:1.0"/> from standalone.xml to disable RestEasy dependencies. After this my application is getting deployed successfully and I'm able to see out put for MIME type TEXT_XML on browse. However for APPLIC

[2015-10-22 12:43] arun-gupta commented on #324
WildFly supports JAX-RS 2, Jersey 2 is just an implementation of JAX-RS2. WildFly uses RESTEasy instead. This is not a supported configuration.

[2015-10-22 12:43] #324 closed

[2015-11-07 22:26] arjantijms opened #327 "Profiles to groups specs (individual, full, web-profile)"
By putting modules in a profile we can easily run the samples per spec, for the full profile or the web profile.

E.g.

[code]

After this you can do e.g.

```mvn -Pwildfly-managed-arquillian,jaspic test```

or

```mvn -Pwildfly-managed-arquillian,jpa test```

etc

I can do a PR for this.

[2015-11-07 23:22] aheusingfeld commented on #327
I might be missing something but given your example, what's the difference to
"mvn -pl jaspic -P wildfly-managed-arquillian", meaning explicitly name the project/ submodule to be build? Maven already provides the option to build all dependent modules (see http://books.sonatype.com/mvnref-book/reference/_using_advanced_reactor_options.html).

[2015-11-08 08:43] arjantijms commented on #327
Maybe I'm just not smart enough to fully understand how Maven works, but for some reason -pl has just never worked for me. It certainly doesn't seem to work when using Eclipse. With the -pl jaspic option it just does the following and nothing more:

[code]

E.g. it builds, but never starts the tests despite using the "test" goal. I'm aware I may be doing something wrong as I'm not the biggest Mave

[2015-11-08 21:51] johnament commented on #327
if you do `-pl jaspic` it only runs that one project, it doesn't run child modules.  if you do `mvn -f jaspic/` you'll run jaspic and children.

[2015-11-08 22:21] arjantijms commented on #327
Hmmm

[code]

Who would have guessed, but I'll give it a go. Thanks!

[2015-11-08 22:29] johnament commented on #327
Why's that? You're basically looking for a shortcut for `cd jaspic && mvn clean install`

[2015-11-08 23:04] arjantijms commented on #327
I tried that a long time ago, but it doesn't work out of the box.

For the Java EE samples project doing just that results in this:

[code]

And after ``cd test-utils && mvn install``:

[code]

So then I need to install the parent pom, and with it all child modules? It will then start to run all tests as well, so I'd need to find the command to not run (skip) the tests.

Plus that I need to monito

[2015-11-08 23:33] radcortez commented on #327
This takes me to another thing that was discussed some time ago, but without any conclusion:

Split the projects so they can be cloned per spec.

[2015-11-08 23:44] arjantijms commented on #327
Indeed, that's a bit similar. I thought the profiles would be a simpler thing though. Unless the project gets overwhelmingly huge, I'm not entirely sure cloning is the real issue. I don't have the fastest Internet connection in the world and the entire repo clones relatively fast.

What I think you almost always want is restrict the test run to a single module.

In theory when reading the document

[2015-11-08 23:57] radcortez commented on #327
Is not only a matter of being faster to clone. It's because sometimes developers are only interested in a single spec and they have to mount the entire project in their IDE.

Also, it allows you to branch and implements tests for new standalone versions of the specs.

[2015-11-09 08:08] arjantijms commented on #327
That's utterly clear. I hear this all the time.

At least in Eclipse when you clone the entire project it's just a folder initially. After that you can import all projects or just individual projects (right click on module -> import -> maven -> existing maven project). But if this is different in other IDEs I can see how this can be a problem indeed.

Then only one question remains: Shall I do the

[2015-11-09 11:20] radcortez commented on #327
I guess we can work with the profiles for the moment, until we figure out what is the best approach to split the project.

Also, I feel that we need more contributors involved to make a final decision on that particular item.

[2015-11-09 11:24] arjantijms commented on #327
Okay, sounds like a plan.

One additional thing to do is adjusting the CI jobs then. I'm not sure how much love these get at the moment. They seem to have defaulted to GlassFish now, meaning it's not the pom.xml default profile, so the module set to test would have to be specified then.

[2015-11-09 11:29] radcortez commented on #327
I'm not even sure what CI are we using atm. For some time, we were using Cloudbees, but I guess it was abandoned.

[2015-11-09 11:31] arjantijms commented on #327
The link on the main project page still points to Cloudbees: https://javaee-support.ci.cloudbees.com but it hasn't worked for some time.

A PR kicks of a CI build using travis-ci.org, see e.g. https://travis-ci.org/javaee-samples/javaee7-samples/builds/89004029

[2015-11-09 11:34] radcortez commented on #327
Ok, we also need to make sure that this is set up properly. I don't have much experience with Travis.

[2015-11-13 16:26] arjantijms commented on #263
@paulben @notatibm

I've just tested the latest versions of Liberty, namely 8.5.5.7 and beta-2015-10. See http://arjan-tijms.omnifaces.org/2015/11/the-state-of-portable-authentication.html

I've adjusted the tests so that `` <webContainer allowQueryParamWithNoEqual="true"/>`` is not necessarily needed. This makes it a tiny bit easier to use Liberty with the tests I think.

Forwards and custom prin

[2015-11-13 16:58] paulben commented on #263
Thanks Arjan. The last time I pulled and ran the tests, several months ago, the only failure was a jsf cdi test, so something has changed :-). I'll pull the latest tests and run them and investigate.

Paul

[2015-11-13 19:45] arjantijms commented on #263
@paulben

Ok thanks! I'll do a double check, at least the logout failure is likely incorrect since I forgot to adjust that for the ``<webContainer allowQueryParamWithNoEqual="true"/>`` change.

The "invoke CDI from SAM" tests are new. There's one include failing that uses JSF, but that's very likely a JSF problem (although it's remarkable that both Mojarra and Myfaces fail here).

[2015-11-13 21:04] paulben commented on #263
@arjantijms @notatibm @arkarkala @kwsutter

Yes I just verified that logout and the register-session are due to
[code]
So that leaves 9, and 8 of those are CDI...hmmm. We are investigating the remaining failures.

Paul

[2015-11-13 22:24] arjantijms commented on #263
@paulben

Indeed, logout and register-session are due to that query parameter. I'll update the test right away. Thanks!

The ones that are still failing are these:

Include:

1. dispatching testBasicIncludeViaPublicResource Failure: Response did not contain output from target Servlet after included one.
1. dispatching-jsf-cdi testCDIIncludeViaPublicResource Failure: Response did not contain output

[2015-11-25 05:39] eddumelendez opened #334 "docker-gradle sample"
I have built a [javaee7-docker-gradle](https://github.com/eddumelendez/javaee7-docker-gradle) repository in order to show how to create containers with gradle. If anyone interested to see how to build images and containers with gradle can take this resource as a reference. Also can be documented in `docker-java` repository.

[2015-11-25 19:47] arjantijms commented on #263
@paulben @notatibm

Just curious, any updates for the JASPIC failures?

I also found a JPA/JDBC issue with Liberty (tried the 2015-12 beta). Don't know if this is the best place to report this but the problem is that it does not load a JDBC driver for an embedded data source from WEB-INF/lib.

Liberty documents that for this case a shared library should be set specifically for a certain applicatio

[2015-11-25 20:31] paulben commented on #263
@arjantijms  @notatibm @arkarkala @kwsutter

Hi Arjan,
I've fixed an include bug that makes the following tests pass:

dispatching-jsf-cd testCDIIncludeViaPublicResource
dispatching testBasicIncludeViaPublicResource

That fix should be in the next beta. That leaves the 5 CDI failures in invoke-ejb-cdi, which we are still investigating, plus the 2 jsf that all containers fail.

Yes we will investig

[2015-11-25 20:57] arjantijms commented on #263
Sounds great, looking forward to test it and update the result table.

Thanks for investigating the other issues.

[2015-11-26 17:26] arjantijms commented on #263
@paulben @notatibm @arkarkala @kwsutter

Another test that doesn't pass on Liberty, closely related to JASPIC, is the JACC test at https://github.com/javaee-samples/javaee7-samples/tree/master/jacc

This fails pretty early when just trying to obtain the Subject:

[code]

The following exception is thrown:

[code]

I'm about to add a test for JASPIC to see if the identity it sets is correctly propa

[2015-12-01 18:19] arjantijms commented on #263
@paulben

I finally got around to adding the test I mentioned last week. Sorry for the delay. It can be found here: https://github.com/javaee-samples/javaee7-samples/tree/master/jaspic/jacc-propagation

As predicted, it indeed doesn't seem to run correctly on Liberty. The results are:

[code]

[2015-12-01 23:28] notatibm commented on #263
We look forward to participating in that discussion with Ron during the next JACC spec revision.

[2015-12-02 09:26] arjantijms commented on #263
@notatibm

Thanks a lot for being open to this.

In theory though it's already required for Java EE 7, but I understand this may be a difficult to support at this point.

For the Java EE security EG, which now possibly relies on this functionality being available, I started the discussion here: https://java.net/projects/javaee-security-spec/lists/jsr375-experts/archive/2015-12/message/0

Feel free

[2015-12-03 18:45] lennartj commented on #94
I just completed doing this. Still interested in an example?

[2015-12-03 19:04] arjantijms commented on #94
As MOXy is EclipseLink specific, shouldn't that be better demonstrated in a separate repo that's intended for vendor specific functionality and/or 3rd party technology that works together with Java EE?

[2015-12-03 19:25] lennartj commented on #94
MOXy is EclipseLink's implementation of the JAXB standard, just like Metro is the Reference Implementation. Neither of the two organisations represent a vendor, in the strict sense of the word, and neither requires you to use anything other than the JAXB standard within your codebase.

However, the reason this is important is that MOXy is also a JSON provider - implying that it can be used to mars

[2015-12-03 22:12] arjantijms commented on #94
Thanks for the explanation. What I meant with the question above is that this particular repository has been set up to demonstrate the Java EE API itself. So just wondering what the MOXy test really tests.

If it's how to integrate an alternative provider (e.g. from a jar in WEB-INF/lib) and then test/demonstrate that it indeed works on every server supported by this project (JBoss, GlassFish, Web

[2015-12-08 19:37] blabno opened #336 "Unknown host repository.codehaus.org"
I have cleaned ~/.m2/repository

[code]
gives me this:

[code]

[2015-12-09 09:05] blabno commented on #336
I've reinstalled maven, removed `~/.m2` and the problem is gone.

[2015-12-09 09:05] #336 closed

[2015-12-09 09:15] blabno opened #337 "JPA tests fail on wildfly"
[code]
[code]

[2015-12-09 09:20] bartoszmajsak commented on #337
I'm afraid that's not the only one failing. I have a feeling the whole setup needs quite a bit of love, as it seems to me to be a bit of a shaky ground

[2015-12-09 09:30] arjantijms commented on #337
What if you run against a remote Wildly (the project's default profile), and what if you run the tests from the root? (if needed comment out all modules except for the util and JPA in the main pom)

I personally never got [cd somemodule/] to work to be honest.

[2015-12-09 09:44] blabno commented on #337
@arjantijms default Wildfly works both from top dir and `cd jpa/criteria`.

[2015-12-09 11:01] blabno commented on #337
Ok, so the reason for this error is lack of arquillian.xml with `wildfly` qualifier:
[code]

[2015-12-09 11:19] blabno commented on #337
This requirement was introduced in 5bb2f776ed7b42416347ae0e49b7cde09e55038c

[2015-12-09 11:38] blabno commented on #337
So either we add arquillian.xml with container with wildfly qualifier to each module
or we remove this line:

https://github.com/javaee-samples/javaee7-samples/commit/5bb2f776ed7b42416347ae0e49b7cde09e55038c#diff-600376dffeb79835ede4a0b285078036R468

[2015-12-09 11:41] blabno commented on #337
@johnament you've added that `wildfly` qualifier to global config when you were modifying jms-xa sample. I've tried running tests for it with your changes, but they fail so I have no idea how to test impact of reverting your change to global `wildfly-embedded-arquillian` profile.

[2015-12-09 12:57] johnament commented on #337
I know the configuration is needed for the JMS stuff to work.  I also know that when I made the change, it was based on some discussions we were having about trying to run a single container for the entire test suite.  That proved to be not stable in both cloudbees and travis.

I would recommend making this the default config overall (`standalone-full.xml`) but will leave it up to other to decide

[2015-12-26 19:04] SinhaAmit opened #339 "Spring Security OAuth2 Issue"
I am using OAuth2 spring security in web application, whenever I try get an access token I'm getting a dialog for username and password on the browser. Below are the configuration of my application, please help me what's wrong with my configuration:

web.xml

<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/jav

[2016-01-03 01:35] johnament commented on #339
This is probably a better question for a spring forum, or stackoverflow.  We're focused on pure Java EE here.

[2016-01-03 01:35] #339 closed

[2016-01-19 00:22] arjantijms commented on #263
@paulben @notatibm

I retested the latest Liberty 2016.1 beta, and includes now generally work, which is great news!

Additionally one extra CDI case now works as well, but there are still 4 CDI related failures left. See http://arjan-tijms.omnifaces.org/2016/01/java-ee-7-server-liberty-9-beta-20161.html

[2016-01-29 08:17] thomas-mc-work opened #340 "Tests fail when run with maven-failsafe-plugin"
Hello,

I have picked a sub project (jpa-jpa-converter) and renamed the test file form `EmployeeRepositoryTest` to `EmployeeRepositoryIT`. Thus it will be driven by the `maven-failsafe-plugin` with the command `failsafe:integration-test`.

**First question is**: Why isn't that the default in the whole repository? Isn't integration testing the goal of the whole thing? I would expect all integration

[2016-01-29 13:38] thomas-mc-work commented on #340
Ok, I've found the answer to the second answer: Hte configuration is simply targeting for the `maven-surefire-plugin`. Doing the same for the `maven-failsafe-plugin` will solve the problem.

[2016-02-26 19:27] joedayz opened #342 "Test native-sql-resultset-mapping fail in Weblogic 12.1.3"
Hi, I am trying it first test with web logic 12.1.3.

Step 1: My profile was updated like this:

<profile>
            <id>weblogic-remote-arquillian</id>

            <properties>

                <weblogicRemoteArquillian_adminUserName>weblogic</weblogicRemoteArquillian_adminUserName>
                <weblogicRemoteArquillian_adminPassword>welcome1</weblogicRemoteArquillian_adminPassword>

[2016-02-26 19:28] joedayz opened #343 "Test javaee7-samples/jpa/native-sql-resultset-mapping fail in Weblogic 12.1.3"
Hi, I am trying it first test with web logic 12.1.3.

Step 1: My profile was updated like this:

<profile>
            <id>weblogic-remote-arquillian</id>

            <properties>

                <weblogicRemoteArquillian_adminUserName>weblogic</weblogicRemoteArquillian_adminUserName>
                <weblogicRemoteArquillian_adminPassword>welcome1</weblogicRemoteArquillian_adminPassword>

[2016-02-26 20:09] joedayz commented on #343
I fixed the problem adding a beans.xml en META-INF

    .addAsResource("META-INF/beans.xml");

[2016-02-26 20:09] #343 closed

[2016-02-26 21:00] arjantijms commented on #342
Not every sample runs on every server.

In general if a sample doesn't run on one server but does run on other ones, it's likely a bug in that server. This is actually the intend of these samples, to point out bugs in servers.

If you think there's something specifically faulty in the test it can be looked at of course.

[2016-02-26 21:06] arjantijms commented on #343
Thanks for letting us know José!

If I have some time later I'll try to find out if META-INF/beans.xml is actually required by the Java EE spec, or just a WebLogic workaround.

Btw, the title says WebLogic 12.1.3 but your path (/Users/josediaz/Tools/wl12210) seems to hint at WebLogic 12.2.1.

[2016-02-26 21:06] joedayz commented on #342
Yes. The problem was solved adding a META-INF/beans.xml and a <jta-data-source>DefaultDataSource</jta-data-source>  (I had to create one datasource with similar JNDI name) in persistence.xml.

I will continue testing in weblogic.

Jose

[2016-02-26 21:12] arjantijms commented on #342
Oh, of course. I forgot to mention that WebLogic 12.1.3 is a Java EE *6* server. The samples require Java EE *7* (WebLogic 12.2.1+). Sorry for that.

The default data source is a new feature in Java EE 7, so that's indeed not available in Java EE 6. The idea there is that there's already a basic/simple data source available without you having to configure anything.

[2016-02-26 21:32] joedayz commented on #342
In theory, weblogic 12.2.1 has a datasource by default.  I downloaded the weblogic 12.2.1 yesterday , I created a new domain with basic wls template and my surprise was that it does not have datasources.

This was my first error and when added <jta-data-source>, the next error was BeanManager null. For this reason, I added beans.xml

Maybe exists some domain template that should install for have a

[2016-02-27 03:09] radcortez commented on #343
I'm pretty sure that the beans.xml is optional since Java EE 7. Other servers work find without it. Not sure what could be Weblogic problem.

[2016-02-27 03:11] radcortez commented on #342
By the spec, a Java EE 7 should provide you with a default datasource. That's why the samples don't create one and just expect it to be there.

[2016-02-27 12:52] arjantijms commented on #342
@radcortez
Indeed, there are unfortunately a few caveats along the lines of that the datasource itself has to be there (in the correct JNDI namespace or, in case of e.g. JPA, by not specifying any namespace), but the database to which that datasource is connected doesn't necessarily have to be there by default.

This is a really odd omission in the spec. I tried to address it a couple of times but

[2016-02-29 07:17] radcortez commented on #342
@arjantijms

I was looking for the spec section about Default Datasources and found this:

EE.5.19 Default Data Source
The Java EE Platform requires that a Java EE Product Provider provide a database in the operational environment (see Section EE.2.6, “Database”). The Java EE Product Provider must also provide a preconfigured, default data source for use by the application in accessing this databa

[2016-04-21 19:57] joedayz opened #346 "Test jms/* fail in Weblogic 12.1.3"
Now, trying jms in weblogic 12.1.3

$ mvn clean install -Pweblogic-remote-arquillian -DweblogicRemoteArquillian_wlHome=C:\Tools\wls12130

Error:

Tests in error:
  org.javaee7.jms.send.receive.mdb.AsyncTest: Deployment Failed on server: com.bea.xml.XmlException: failed to load java type corresponding to e=ejb-jar@http://xmlns.jcp.org/xml/ns/javaee
  org.javaee7.jms.send.receive.SyncTest: Deploymen

[2016-04-21 20:27] arjantijms commented on #346
The exception is expected. `javax.jms.JMSContext` is a JMS 2.0/Java EE 7 type, it wasn't present in JMS 1.1/Java EE 6.

WebLogic 12.1.3 is a Java EE 6 implementation, so it should indeed fail.

WebLogic 12.2.1 is a Java EE 7 implementation, and it should work (if it would fail in 12.2.1 as well it may be an implementation bug)

[2016-05-02 00:20] johnament commented on #346
Closing out, based on arjan's comments.

[2016-05-02 00:20] #346 closed

[2016-05-02 00:21] johnament opened #348 "Update to latest TomEE 7 version"

[2016-05-07 14:41] johnament opened #349 "AngularJS example assumes JBoss runtime"
The angular example is assuming that its running on JBoss.

Persistence.xml refers to the jboss namespace: https://github.com/javaee-samples/javaee7-samples/blob/master/jaxrs/angularjs/src/main/resources/META-INF/persistence.xml#L6 and is pointing to the hibernate specific DDL properties.

Uses HQL instead of JPQL: https://github.com/javaee-samples/javaee7-samples/blob/master/jaxrs/angularjs/src/m

[2016-05-17 14:06] #340 closed

[2016-06-13 15:51] rosiecki commented on #346
Hi, I was looking for some stuff on the web and found this, you're gonna like it, just take a look here <http://dyciprele.narmaonline.org/aehdfmq>

Good wishes, metempsychoza@wp.pl

[2016-07-08 11:47] arjantijms commented on #348
Update has been done, so I think this can be closed ;)

[2016-07-08 11:47] #348 closed

[2016-07-08 11:49] arjantijms commented on #243
Since WildFLy 10 and EAP 7.0 the jaspitest domain has been added by default, so this issue can be closed now.

[2016-07-08 11:49] #243 closed

[2016-07-08 12:03] arjantijms commented on #263
@paulben @notatibm

I just discovered a new failure with Liberty and JASPIC. As it appears, when a SAM is installed and HttpServletRequest#authenticate is called, the SAM is not invoked at all. Section 3.9.3 of the spec contains the details about this.

I've tested against the latest Liberty 16.0.0.2 as well as a somewhat older beta (2016.5) to check if it's a recent regression, but both failed.

[2016-07-19 18:37] paulben commented on #263
@arjantijms @notatibm

Thanks for the heads up Arjan. I'll take a look at it.

Paul

[2016-07-19 18:41] arjantijms commented on #263
@paulben

You're welcome, thank you too. If you need more information just let me know.

[2016-07-24 09:27] donhuvy opened #357 "[Question] BUILD FAILURE - how to run success?"
I follow this video tutorial: https://www.youtube.com/watch?v=BB4b-Yz9cF0
[code]
but not success. I stuck at here and can't overcome. The below is terminal screen, please help me! (Because terminal screen text is too long, I must paste it to Gist)

https://gist.github.com/donhuvy/2e91ca8924de0f739121b0b4100af579

Thank you!

<img width="1440" alt="screen shot 2016-07-24 at 4 31 42 pm" src="https:/

[2016-07-24 09:43] donhuvy commented on #357
[code]

[2016-07-24 11:12] arjantijms commented on #357
Looks like some problem related to reaching maven central, as the wildfly 8.2 artefact at https://repo.maven.apache.org/maven2/org/wildfly/wildfly-dist/8.2.0.Final/ seems to be there.

Alternatively you could try to use some of the other "embedded" profiles such as

``mvn clean test -Pwildfly-managed-arquillian``

or

``mvn clean test -Ptomee-managed-arquillian``

or

``mvn clean test -Pliberty-em

[2016-07-24 11:23] donhuvy commented on #357
Thank you! I run
[code]
and success.

[2016-07-24 11:23] #357 closed

[2016-07-24 11:40] arjantijms opened #359 "Improve profile names?"
Hi,

Currently the project uses a couple of different server types:
- Remote - where you start up an external server
- Managed - where you point to an externally installed server
- Embedded - where a truly embedded server is used (true maven dependency on class path)
- [Managed with embedded download] - feels like embedded, but a whole server distro is unpacked (often in every directory for each s

[2016-07-28 17:29] ankitshende opened #360 "Error in codes ---"
https://github.com/javaee-samples/javaee7-samples/tree/master/websocket/endpoint-javatypes

while practicing writing codes I found that programs have some issues like in this code we prepare primitive types server endpoint but when I run the program even if i assign a string "web socket or any word" the web-socket for int and float type still returns the same string message they don't show any err

[2016-08-23 22:18] arjantijms commented on #263
@paulben

Already made any progress with looking at the issue? Also, the return value of the `request#authenticate` is not super clearly defined in the spec. JBoss and GlassFish have interpreted it somewhat differently for instance. Let me know if I can be of some help there.

[2016-08-24 02:38] paulben commented on #263
@arjantijms

Yep, that's a bug, which surprised me as we have a test for programmatic authenticate, but obviously the test has a hole in it. We'll try to have a fix in the next beta.

I saw your comment in the servlet re GlassFish and JBoss authenticate. I'll keep that in mind for this fix.

Paul

[2016-08-24 07:17] arjantijms commented on #263
@paulben

Thanks, looking forward to the next beta ;)

[2016-08-27 14:19] arjantijms commented on #263
@notatibm @paulben

I managed to make CDI work inside a SAM by activating the request scope early on Liberty beta 2016.8.

In fact, currently CDI actually already *does* work from within a SAM, but only for the application scope and other scopes that do not depend on the current request.

The code I used is this one:

From within the validateRequest method of a SAM:

[code]

Weld already has suppo

[2016-09-05 19:47] paulben commented on #263
@arjantijms @notatibm

Arjan, Sure we can look into doing something along those lines. ATM thinking we'd like to keep it JASPIC specific rather than a general servlet / ibm-application-bnd thing.

Also I have the authenticate tests working, should be in the next beta.

Paul

[2016-09-06 10:41] arjantijms commented on #263
@paulben @notatibm

JASPIC specific should work I guess. If people need CDI in their security modules they can use JASPIC then, and if they don't need it they can use either JASPIC or the IBM specific artefacts at their  choice.

Only extra decision point would be whether to activate or not before the first JACC check (which is typically for the `WebUserDataPermission` permission). Depending on ho

[2016-09-07 15:21] arjantijms commented on #263
@paulben @notatibm

We've also included Liberty as a CI test target in the JSR 375 RI (Soteria). It does work against 16.0.2 and not the latest beta, since those latest betas do not seem to be available in Maven central (I asked on Twitter as well).

The tests can be started as follows:

A lot of them pass already, but for the BASIC authentication mechanism there's an exception that I need to look

[2016-09-07 15:31] notatibm commented on #263
@arjantijms we don't put the betas in maven central, we would want to be able to remove them and maven doesn't really allow for removal.

[2016-09-07 15:34] arjantijms commented on #263
@notatibm That makes sense. Wouldn't there be another maven repo (e.g. IBM specific one) where it could be downloaded from? Or the sonatype snapshot repo?

[2016-09-07 15:40] notatibm commented on #263
@arjantijms not that contains them. We used to release our maven artifacts into an IBM registry, but it was basically just an http website, rather than an actual repository, so didn't really work very well for people. I wouldn't want to reuse it since peoples expectations are that things from there do not go away. We could replicate, but we haven't had a lot of demand. Although you are the second

[2016-09-07 16:11] arjantijms commented on #263
Okay, thanks for at least considering it then ;)

[2016-09-29 22:28] arjantijms commented on #263
@paulben

Just to be sure, that next beta is not 2016.9, or is it?

I tried that one as well as the stable 16.0.0.3, but `request.authenticate` in both cases brings up the BASIC dialog again instead of going to the SAM.

Just asking in case it should be in there and I'm doing something wrong somehow.

[2016-09-30 02:19] paulben commented on #263
@arjantijms

No, you're not doing anything wrong. Sorry for the confusion, I was thinking next in terms of our internal cutoff schedule. I should have said the beta after next. The fix was too late to make 2016.9, it will be in 2016.10.

Paul

[2016-09-30 06:53] arjantijms commented on #263
@paulben

Ah, ok. No worries, thanks for the clarification ;)

[2016-09-30 15:08] arjantijms commented on #263
@paulben

I think I discovered another bug in Liberty and JASPIC. It concerns the request wrapping. I was investigating erratic behaviour in Liberty with seemingly random null pointer exceptions.

As it turned out, Liberty is storing the request (and response) wrappers set by a SAM in the global application scope as servlet context attributes (using `com.ibm.ws.security.jaspi.servlet.request.wrapp

[2016-09-30 15:52] paulben commented on #263
@arjantijms

Indeed, I wasn't thinking of different behavior per request. I'll look into request scoping it.

Paul

[2016-09-30 18:00] arjantijms commented on #263
@paulben

Okay, thanks for looking into making it request scoped.

Btw, from the stack in a debugger it can be seen that a filter called `JaspiServletFilter` is setting that wrapped request and response. However, this Filter seems to be executed as the last Filter, not as the absolute first.

What happens now is that if a user supplied Filter also wraps the request, `JaspiServletFilter` totally di

[2016-09-30 18:46] paulben commented on #263
@arjantijms

Got the wrappers request scoped, will have to investigate a bit on the wrapping/filter order.

Paul

[2016-10-04 17:44] arjantijms commented on #349
I'm tempted to move this sample to the extra folder. That doesn't fix the fact that it's JBoss specific, but I think it fits better there. Perhaps it would be even better to create a completely separate project for that even.

Sorry for going offtopic here ;)

[2016-10-04 17:55] arjantijms opened #364 "Update versions in main pom.xml and do some cleaning"
The main pom.xml has quite a number of older versions in it. Arquillian, the core Maven plug-ins, and especially the JBoss/WildFly containers are at rather old versions.

JBoss/WildFly specifically also still uses the old Arquillian group id where the version was coupled to the server (in later versions these moved to a new namespace with decoupled version numbers).  JBoss/WildFly also have a numb

[2016-10-14 18:10] paulben commented on #263
@arjantijms

Hi Arjan,
Hopefully will have the request scoped wrapper fix in 2016.11 beta.
Pre EE8 CDI and filter ordering issues still being worked.

Paul

[2016-10-18 21:23] arjantijms commented on #263
@paulben

Hi Paul, sounds good, thanks for the update!

To help with the filtering issues, I extended the wrapping test here: https://github.com/javaee-samples/javaee7-samples/tree/master/jaspic/wrapping

On all servers I tested this on (Tomcat, JBoss, Payara, ...) the result is:

[code]

For Liberty however it's:

[code]

Hope this test helps and thanks again for all your work on this.

[2016-10-24 17:02] arjantijms opened #369 "Move extra module to separate project?"
The extra module is currently commented out, but still part of this project.

Since Java EE 7 samples is already unwieldy and huge, I think it's better to move this to a separate top-level project, e.g.  `javaee-samples-extra`.

That project can then focus on integration of Java EE with a large variety of external projects, from Quartz, to OmniFaces (wink wink ;)), to AngularJS and everything in b

[2016-10-24 18:03] radcortez commented on #369
+1

I'm not so sure if just an extra project should be the right way to go. It might became a big garbage bag. Maybe have dedicated extra projects to each technology? Java EE + Angular, Java EE + Spring, etc.

[2016-11-03 06:51] #334 closed

[2016-12-13 16:01] sermojohn opened #370 "BatchChunkExceptionTest.testBatchChunkException test fails"
This test case fails.
`java.lang.AssertionError: expected:<1> but was:<2>
        at org.junit.Assert.fail(Assert.java:88)
        at org.junit.Assert.failNotEquals(Assert.java:834)
        at org.junit.Assert.assertEquals(Assert.java:645)
        at org.junit.Assert.assertEquals(Assert.java:631)
        at org.javaee7.batch.chunk.exception.BatchChunkExceptionTest.testBatchChunkException(BatchChun

[2016-12-13 16:50] sermojohn opened #371 "Embedded wildfly profile fails"
Trying to run a randomly picked test from cdi module on embedded wildfly, but it fails.

Command: `mvn -f cdi/alternatives/pom.xml test -Pwildfly-embedded-arquillian -Dwildfly.version=10.1.0.Final`
Error:
` "WFLYCTL0080: Failed services" => {"jboss.deployment.unit.\"test.war\".INSTALL" => "org.jboss.msc.service.StartException in service jboss.deployment.unit.\"test.war\".INSTALL: WFLYSRV0153: Fail

[2017-01-13 06:14] ToanPV90 commented on #371
Hi @sermojohn . This error is same to me. @sermojohn Have you found the solution to fix this? Pls share it to me. Thanks & Best Regards.

[2017-01-17 09:01] sermojohn commented on #371
No solution found. I ended up using the managed profile instead.

[2017-02-11 00:58] ToanPV90 commented on #371
Many thank @sermojohn for your response.

[2017-04-04 09:16] holyfly commented on #371
Had the same problem. My error was a wrong javax-servlet dependency in my gradle build.

[2017-04-29 15:31] MarkDechamps commented on #371
Same problem. Got it also buildng with :
`C:\projects\javaee7-samples\jpa\native-sql-resultset-mapping>mvn install -Pwildfly-ci-managed`

[2017-06-12 21:51] mmarquezvacas commented on #371
Having the same problem executing:
`javaee7-samples/jpa/multiple-pu$ mvn clean install -Pwildfly-embedded`

The test shows this error:

`Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 5.126 sec <<< FAILURE! - in org.javaee7.jpa.multiple.pu.MultiplePuTest
org.javaee7.jpa.multiple.pu.MultiplePuTest  Time elapsed: 5.118 sec  <<< ERROR!
org.jboss.arquillian.container.spi.client.contai

[2017-06-12 21:56] mmarquezvacas commented on #371
Found this:

[https://stackoverflow.com/questions/30811971/java-util-serviceconfigurationerror-when-running-tests-using-arquillianomniface](url)

Then I executed the following command instead:

`mvn clean install -Pwildfly-managed`

After that, the tests executed correctly.

Still can't understand the reason.

Hope this helps anyone

[2017-06-12 22:48] arjantijms commented on #371
I've personally always had issues with WildFly Embedded. The regular WildFly, in both the managed and remote variants works really well, but I too got exceptions like posted above.

My humble guess would be classloaders problems of some kind, perhaps race conditions or some other sort of timing problem.

I'm currently fixing up the tests to be more resilient against timing problems, but I'm not su

[2017-06-13 16:11] arjantijms commented on #370
Fixed now, thanks for the report.

[2017-06-13 16:11] #370 closed

[2017-06-13 16:11] arjantijms commented on #364
Most stuff has been done in the mean time.

[2017-06-13 16:11] #364 closed

[2017-06-13 16:13] #319 closed

[2017-06-13 16:13] arjantijms commented on #359
Done

[2017-06-13 16:13] #359 closed

[2017-06-13 16:15] arjantijms commented on #295
The logic here was indeed wrong, and this has been mostly rectified by adding a step listener that counts the latch down at a more appropriate time.

[2017-06-13 16:15] #295 closed

[2017-06-13 16:17] arjantijms commented on #252
Since a while the project has been using Travis.

[2017-06-13 16:17] #252 closed

[2017-06-13 16:18] arjantijms commented on #21
There's a test for this now.

[2017-06-13 16:18] #21 closed

[2017-08-07 22:49] arjantijms commented on #369
Did the initial step by moving to a new project. Further splitting it out depends on the interest in this new project.

[2017-08-07 22:49] #369 closed

[2017-08-07 22:50] arjantijms commented on #349
AngularJS was moved to the new extras project

[2017-08-07 22:50] #349 closed

[2017-08-07 22:52] arjantijms commented on #323
Moved to extra project

[2017-08-07 22:52] #323 closed

[2017-08-07 22:58] arjantijms commented on #206
We switched to travis quite some time ago, so this can be closed I think.

[2017-08-07 22:58] #206 closed

[2017-12-18 18:19] rondymesquita commented on #340
Hi, I'm facing the same problem here. When you say **"The configuration is simply targeting..."**: This configuration is the **pom.xml**. What changes you made to make this work? Thanks in advance!

[2018-01-28 17:42] lprimak opened #428 "jms/send-receive has a race condition"
Sometimes, this test fails because JMS MDB is invoked before waitFor() in the test is processed, thus causing errors.

This can easily be introduced by putting in a sleep statement prior to waitFor in async send test

[2018-01-28 17:42] lprimak commented on #428
PR #427

[2018-01-29 19:43] lprimak commented on #428
Fixed

[2018-01-29 19:43] #428 closed

[2018-03-10 00:29] tiagorico opened #433 "duplicated line of code"

[2018-03-10 15:14] radcortez commented on #433
@tiagorico you can submit a PR for this :)

[2018-03-12 15:53] #433 closed

[2018-07-09 09:25] sushant097 opened #435 "How to make the group chat?"
This is the Simple chat Demo. But how to make the group chat in this case.

[2018-08-12 10:04] JWGmeligMeyling commented on #238
I'd love to see an example still. So what was the conclusion of this topic? Is the producer code still valid? Where does `joinTransaction()` come in to play?

[2019-01-07 06:06] FDU-SE-LAB opened #443 "Your project javaee-samples/javaee7-samples is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-03-20 06:32] vijaychaudhary81 opened #446 "add interceptor"
Add a new sample to demonstrate EJB-style interceptors, using @interceptor.

[2019-05-07 05:29] pavelpetrovic opened #453 "typo in batch-decision?"
here http://javaee-samples.github.io/sample/batch-decision/
myJob.xml says: <next on="foobar" to="step3"/>
but the text says:
Decider is always returning the value foobar which forwards the execution to step2

shouldn't the xml also say to="step2" ?

[2019-07-02 17:20] mhp0rtal opened #455 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => test-utils/src/main/java/org/javaee7/ServerOperations.java: Line number => 109: API name => KeyStore:Unexpected call to method store on object of type java.security.KeyStore. Expect a call to one of the following methods getKey,getEntry<BR>

[2019-08-15 11:51] ThirdLibResearch opened #456 "Third-Party Library Version Inconsistencies in your project"
We are currently investigating the usage of different versions of the same third-party library in different modules of a project (i.e., the library version inconsistency problem). It is a non-trivial and time-consuming task to maintain the evolving third-party libraries. In that sense, it seems necessary to harmonize the different versions of the same third-party library in different modules into

[2020-01-30 06:20] farheen21 commented on #118
can you please some description for the issue you raised

[2020-02-28 05:47] www-yyy-1 opened #459 "Vulnerable dependencies in your project.(CVEs)"
Hi, I found that your project are using some vulnerable dependencies. In order to avoid threats, I recommend updating to a safe version. Please note the following details.
* **Vulnerable Library Version:** net.sourceforge.htmlunit : htmlunit : 2.31
  **CVE ID:** [CVE-2020-5529](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-5529)
  **Import Path:** jaspic/common/pom.xml
  **Suggested Safe

[2020-04-22 13:44] thomas-mc-work commented on #340
Well, maybe a bit late. But maybe also it could still help someone:

Most probably I search and replaced `maven-surefire-plugin` for `maven-failsafe-plugin` int he root pom: https://github.com/javaee-samples/javaee7-samples/blob/master/pom.xml

[2020-10-19 18:38] sroui opened #470 "MalformedURL exception when try to run tests"
I have followed the video included in the README.md which explains how to run the samples.

First, I have run the command `mvn clean install -Dmaven-skip-test=true` in the root directory of the project and I started wildfly server.
Then I have executed the following command '`mvn clean install -Pwildfly-remote` in order to see if the tests run successfully, but I have this error:

[INFO]
[ERROR] E

[2020-10-19 22:23] arjantijms commented on #470
Quickly glancing at this, I guess this has to do with the injected URL in Arquillian tests ending with either a `/` or not. Maybe WildFly changed something here, or maybe the test code changed something here and hasn't been tested on wildly for a long time.

I'll try to take a look soon.

[2021-06-23 03:50] hezhongfan opened #476 "mvn clean install error"
![image](https://user-images.githubusercontent.com/38171204/123032764-1bc37f80-d419-11eb-9a1e-16c5d2cc5a05.png)

[2021-06-30 15:20] #318 closed

[2021-07-27 01:19] donchitcho opened #477 "Hello world"
G

[2021-07-29 22:54] #477 closed